<!doctype html>
<html ng-app="phonecatApp">
    <head>
        <meta charset="UTF-8" />
        <title>心理测试</title>
        <link rel="stylesheet" href="themes/css/mystyle.css" data-jqt-theme>
        <link rel="stylesheet" href="themes/css/charts.css" data-jqt-theme>

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <!-- Either, (1) Zepto:  Un-comment these 2 lines (order matters)  -->
        <!--<script src="lib/zepto/zepto.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="src/jqt.min.js" type="text/javascript" charset="utf-8"></script>-->

        <!-- Or,     (2) jQuery: Un-comment these 3 lines (order matters)  -->
         <script src="lib/jquery/jquery-1.7.min.js" type="application/x-javascript" charset="utf-8"></script>
         <script src="src/jqt.min.js" type="text/javascript" charset="utf-8"></script>
         <script src="src/jqtouch-jquery.min.js" type="application/x-javascript" charset="utf-8"></script>

        <!--<script src="extensions/jqt.themeswitcher.min.js" type="application/x-javascript" charset="utf-8"></script>
        <script src="extensions/jqt.actionsheet.min.js" type="application/x-javascript" charset="utf-8"></script>
        <script src="extensions/jqt.menusheet.min.js" type="application/x-javascript" charset="utf-8"></script>-->


        <script type="text/javascript" charset="utf-8">
            var testurl = "http://box.guoguan.com/html/weixinApp/appmodel/index.html";
            var sharetitle = "";
            var jQT = new $.jQT({
                icon: 'jqtouch.png',
                icon4: 'jqtouch4.png',
                addGlossToIcon: false,
                startupScreen: 'jqt_startup.png',
                statusBar: 'black-translucent',
                preloadImages: []
            });
            function GetQueryString(name)
            {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r !== null)
                    return unescape(r[2]);
                return null;
            }
            function setCookie(name, value)
            {
                var Days = 30;
                var exp = new Date();
                exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
                document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
            }
            function getCookie(name)
            {
                var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                if (arr === document.cookie.match(reg))
                    return unescape(arr[2]);
                else
                    return null;
            }
            // Some sample Javascript functions:
            var start = "";
            var score_cent = 0;
            var resultjson = "";
            var id = 0;
            $(function() {
                id = GetQueryString("id");
                testurl = testurl + "?id=" + id;
                $.ajax({
                    url: '/test/MentalTestApi.php?a=getinfo&id=' + id + '&tmp=' + Math.random(), type: 'get', async: true,
                    error: function(data) {
                        alert("err:" + data);
                    },
                    success: function(data) {
                        var obj = eval("(" + data + ")");
                        if (obj.err === 0) {
                            $(".peoplenum").html(obj.peoplenum);
                            sharetitle = obj.msg.mentaltest_title;
                            $(".home-title h1").html(obj.msg.mentaltest_title);
                            $(".test-title h1").html(obj.msg.mentaltest_title);
                            $(".home-title p").html(obj.msg.mentaltest_content);
                            var html = [];
                            var resulthtml = [];
                            $(".rseultnumber").html((obj.result.length - 1) + "/" + (obj.result.length - 1));
                            for (var i = 0; i < obj.result.length; i++) {
                                if (obj.result[i].item_isresult === "0") {
                                    if (i === 0) {
                                        start = "item-" + obj.result[i].item_id;
                                    }
                                    html.push('<div id="item-' + obj.result[i].item_id + '"><div class="item-title"><h1>' + obj.msg.mentaltest_title + '</h1><p>国馆提醒你：请在三秒以内回答以下问题，结果才会准确</p>');
                                    html.push('<div class="logo"><img src="themes/img/logo.jpg"></div></div><div class="process"><div class="number">' + (i + 1) + '/' + (obj.result.length - 1) + '</div><div class="cent">');
                                    html.push('<p><div class="Bars"><div style="width: ' + 100 * (i + 1) / (obj.result.length - 1) + '%;"></div></div></p></div></div><div class="second-title"><h3>' + obj.result[i].item_title + '</h3></div>');
                                    if (obj.result[i].item_titlephoto !== "") {
                                        html.push('<div class="has-img"><img src="' + obj.result[i].item_titlephoto + '"></div>');
                                    }
                                    var content = eval("(" + obj.result[i].item_itemcontent + ")");
                                    if (content && content.length > 0 && content[0].photo !== "") {
                                        html.push('<ul class="metal scroll item">');
                                    } else {
                                        html.push('<ul class="rounded scroll item">');
                                    }
                                    for (var j = 0; j < content.length; j++) {
                                        html.push('<li class="arrow">');
                                        if (content[j].photo !== "") {
                                            html.push('<img src="' + content[j].photo + '">');
                                        }
                                        if (i === obj.result.length - 2)
                                        {
                                            html.push('<a href="javascript:void(0)" onclick="showResult2()" data-cent="' + content[j].cent + '">' + content[j].title + '</a> </li>');
                                        }
                                        else
                                        {
                                            html.push('<a href="javascript:void(0)" onclick="goto(' + obj.result[i + 1].item_id + ',' + content[j].cent + ')"  data-cent="' + content[j].cent + '">' + content[j].title + '</a> </li>');
                                        }
                                    }
                                    html.push('</ul><div class="info"> <p>测试提供：国馆，中国收藏级文化白酒</p></div></div>');
                                } else {
                                    var item = eval("(" + obj.result[i].item_itemcontent + ")");
                                    resultjson = item;
                                }
                            }
                            $(".itemfooter").before(html.join(''));
                            //判断检查用户是否参与过
                            var phone = getCookie("phone");
                            $('#some_name').val(phone);
                            console.info(phone);
                            score_cent = getCookie("item_"+id+"_result");
                            console.info(score_cent);
                            //showResult2();
                        }
                    }
                });

                $('a[target="_blank"]').bind('click', function() {
                    if (confirm('This link opens in a new window.')) {
                        return true;
                    } else {
                        return false;
                    }
                });
                setTimeout(function() {
                    $(".logo").addClass("animated");
                }, 1000);
                // Orientation callback event
                $('#jqt').bind('turn', function(e, data) {
                    $('#orient').html('Orientation: ' + data.orientation);
                });
            });

            //手机号校验
            function startTest() {
                if (!$('#some_name').val() || $('#some_name').val().length !== 11) {
                    alert('请输入正确的手机号码');
                } else {
                    $.ajax({
                        url: '/test/MentalTestApi.php?a=savephone&phone=' + $('#some_name').val() + '&id=' + id + '&tmp=' + Math.random(), type: 'get', async: true, success: function(data) {

                        }
                    });
                    setCookie("phone",$('#some_name').val());
                    window.location.href = "#" + start;
                }
            }
            function goto(tag, cent) {
                score_cent += cent;
                window.location.hash = "item-" + tag;
            }
            function showResult2() {
                var r = resultjson;
                for (var i = 0; i < r.length; i++) {
                    if (score_cent >= r[i].mincent && score_cent < r[i].maxcent) {
                        $.ajax({
                            url: '/test/MentalTestApi.php?a=saveresult&phone=' + $('#some_name').val() + '&id=' + id + '&result=' + r[i].no + '&tmp=' + Math.random(), type: 'get', async: true, success: function(data) {
                            }
                        });
                        $(".detail-result h1").html(r[i].title);
                        $(".result-item-content h1").html(r[i].title);
                        $(".result-item-remark h3").html(r[i].remark);
                        window.location.hash = "show-result";
                        score_cent = 0;
                        setCookie("item_"+id+"_result",score_cent);
                    }
                }
            }
        </script>
        <style type="text/css" media="screen">
            #jqt.fullscreen #home .info {
                display: none;
            }
            div#jqt #about {
                padding: 100px 10px 40px;
                text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0;
                color: #999;
                font-size: 13px;
                text-align: center;
                background: #161618;
            }
            div#jqt #about p {
                margin-bottom: 8px;
            }
            div#jqt #about a {
                color: #fff;
                font-weight: bold;
                text-decoration: none;
            }
        </style>
    </head>
    <body >
        <div class="share-cover">
            <div class="share-guide" id="weixin-guide" ng-click="closeCover()"></div>
            <div class="share-guide" id="mobile-guide"></div>
        </div>

        <div id="ad">
            <a href="http://www.guoguan.com">
                <img src="themes/images/banner_ad.jpg">
            </a>
            <div onclick="hidead();" style="font-size: 9pt; cursor: pointer; max-width: 720px; margin: 0 auto; margin-top: -39px;" align=right>
                <img src="themes/img/error_five.png" style="height: 20px; width: 20px; margin-right: 30px" alt=""/>
            </div>
        </div>

        <div id="jqt" class="" ng-controller="PhoneListCtrl">
            <div id="home" class="current">
                <div class="home-banner">
                    <img src="themes/images/zhongguodao.jpg">
                </div>
                <div class="home-title">
                    <h1>
                    </h1>
                    <p>
                    </p>
                </div>
                <div class="scroll">
                    <form class="scroll">
                        <ul class="edit rounded">
                            <li><input type="number" pattern="[0-9]*" name="number" placeholder="请输入手机号码" id="some_name"></li>
                        </ul>
                    </form>
                    <a href="javascript:startTest();" class="redButton">开始测试</a>
                </div>
                <div class="info">
                    <p>已有<span class="peoplenum">333</span>人参加测试<br>测试提供：国馆，中国收藏级文化白酒</p>
                </div>
            </div>

            <div class="itemfooter"></div>
            <div id="item-one">
                <div class="item-title">
                    <h1>
                        你的失败值是多少？
                    </h1>
                    <p>
                        国馆提醒你：请在三秒以内回答以下问题，结果才会准确
                    </p>
                    <div class="logo">
                        <img src="themes/img/logo.jpg">
                    </div>
                </div>
                <!--进度条-->
                <div class="process">
                    <div class="number">
                        1/10
                    </div>
                    <div class="cent">
                        <p>
                        <div class="Bars">
                            <div style="width: 10%;">
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
                <!--题目标题-->
                <div class="second-title">
                    <h3>
                        你愿意以何种身份穿越回古代？
                    </h3>
                </div>
                <!--以上都一样-->

                <ul class="rounded scroll item">
                    <li class="arrow"><a href="#item-two" data-cent="1">你心理你心理你心理你心理你心理你心理你心理你心理你心理你心理你心理你心理你心理你心理你心理你心理你心理</a> </li>
                    <li class="arrow"><a href="#item-two" data-cent="3">你心理</a></li>
                    <li class="arrow"><a href="#item-two" data-cent="2">你心理</a></li>
                    <li class="arrow"><a href="#item-two" data-cent="4">你心理</a></li>
                </ul>
                <div class="info">
                    <p>测试提供：国馆，中国收藏级文化白酒</p>
                </div>
            </div>

            <div id="item-two">
                <div class="item-title">
                    <h1>
                        你的失败值是多少？
                    </h1>
                    <p>
                        国馆提醒你：请在三秒以内回答以下问题，结果才会准确
                    </p>
                    <div class="logo">
                        <img src="themes/img/logo.jpg">
                    </div>
                </div>
                <!--进度条-->
                <div class="process">
                    <div class="number">
                        2/10
                    </div>
                    <div class="cent">
                        <p>
                        <div class="Bars">
                            <div style="width: 20%;">
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
                <!--题目标题-->
                <div class="second-title">
                    <h3>
                        猜猜这是什么 0.0？
                    </h3>
                </div>
                <!--以上都一样-->

                <div class="has-img">
                    <img src="themes/images/zhongguodao.jpg">
                </div>

                <ul class="rounded scroll item">
                    <li class="arrow"><a href="#item-three" data-cent="1">你心理你心理你心理你心理你心理你心理你心理你心理你心理你心理</a> </li>
                    <li class="arrow"><a href="#item-three" data-cent="2">你心理</a></li>
                    <li class="arrow"><a href="#item-three" data-cent="3">你心理</a></li>
                    <li class="arrow"><a href="#item-three" data-cent="4">你心理</a></li>
                </ul>
                <div class="info">
                    <p>测试提供：国馆，中国收藏级文化白酒</p>
                </div>
            </div>

            <div id="item-three">
                <div class="item-title">
                    <h1>
                        你的失败值是多少？
                    </h1>
                    <p>
                        国馆提醒你：请在三秒以内回答以下问题，结果才会准确
                    </p>
                    <div class="logo">
                        <img src="themes/img/logo.jpg">
                    </div>
                </div>
                <!--进度条-->
                <div class="process">
                    <div class="number">
                        3/10
                    </div>
                    <div class="cent">
                        <p>
                        <div class="Bars">
                            <div style="width: 30%;">
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
                <!--题目标题-->
                <div class="second-title">
                    <h3>
                        猜猜这是什么 0.0？
                    </h3>
                </div>
                <!--以上都一样-->

                <ul class="metal scroll item">
                    <li class="arrow">
                        <img src="themes/images/2_01.jpg">
                        <a href="#show-result" data-cent="1">美酒</a>
                    </li>
                    <li class="arrow">
                        <img src="themes/images/2_02.jpg">
                        <a href="#show-result" data-cent="2">美酒</a>
                    </li>
                    <li class="arrow">
                        <img src="themes/images/2_03.jpg">
                        <a href="#show-result" data-cent="3">美酒</a>
                    </li>
                    <li class="arrow">
                        <img src="themes/images/2_04.jpg">
                        <a href="#show-result" data-cent="20">美酒</a>
                    </li>
                </ul>
                <div class="info">
                    <p>测试提供：国馆，中国收藏级文化白酒</p>
                </div>
            </div>

            <div id="show-result">
                <div class="item-title test-title">
                    <h1>
                        你的失败值是多少？
                    </h1>
                    <p>
                        国馆提醒你：请在三秒以内回答以下问题，结果才会准确
                    </p>
                    <div class="logo">
                        <img src="themes/img/logo.jpg">
                    </div>
                </div>
                <!--进度条-->
                <div class="process">
                    <div class="number rseultnumber">
                        10/10
                    </div>
                    <div class="cent">
                        <p>
                        <div class="Bars">
                            <div style="width: 100%;">
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
                <!--以上都一样-->

                <div class="detail-result">
                    <h3>
                        你的测试结果
                    </h3>
                    <h1>
                        {{result.result}}
                    </h1>
                </div>

                <div class="scroll">
                    <a href="javascript:void(0)" class="redButton" style="margin-bottom: 100px;" ng-click="showResult()">查看详细分析</a>
                </div>

                <div class="info">
                    <p>测试提供：国馆，中国收藏级文化白酒</p>
                </div>
            </div>


            <!--结果页面-->
            <div id="result" class="scroll">
                <div class='etabs'>
                    <span class='tab tab-selected'><a href="#result" class="dissolve">测试结果</a></span><span class='tab'><a href="#cluster" class="dissolve">改变企业的秘密</a></span>
                </div>
                <div class='panel-container'>
                    <div class="result-title test-title">
                        <h1>
                        </h1>
                        <div class="logo animated">
                            <img src="themes/img/logo.jpg">
                        </div>
                    </div>
                    <div class="brief-result result-item-content">
                        <h3>
                            你的测试结果
                        </h3>
                        <h1>
                        </h1>
                    </div>
                    <div class="brief-result result-item-remark">
                        <h3>
                            结果分析:
                        </h3>
                        <p>
                        </p>
                    </div>
                    <div class="scroll">
                        <img src="themes/images/zhongguodao.jpg" style="width: 100%;" alt=""/>
                        <div class="percent-result">有32%的人测试结果和我一样</div>
                    </div>
                    <div class="scroll">
                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; text-align: center; margin-bottom: 30px; border-bottom: 1px solid #999;">
                        </div>
                    </div>
                    <div class="scroll">
                        <a href="javascript:void (0)" class="redButton action share-to-sina-button" style="margin:0; width: 34%; margin-left: 10px; float: left;font-size: 14px">邀请朋友测试</a>
                        <a href="#result" class="redButton" style="margin:0; width: 34%;margin-right: 10px; float: right;font-size: 14px">关注“国馆”微信</a>
                        <div style="clear: both"></div>
                    </div>
                    <div class="restart">
                        <a href="#home" class="swap">
                            对结果不满意？请重新测试
                        </a>
                    </div>

                    <div class="brief-result">
                        <h3>
                            大家都在玩
                        </h3>
                    </div>
                    <ul class="plastic scroll">
                        <li ng-repeat="item in wxapp">
                            <img src="{{item.img}}">
                            <a href="{{item.href}}" target="_blank">
                                {{item.title}}
                                <br>
                                <span>已有{{item.count}}人参与</span>
                            </a>
                            <button class="look-button">去看看</button>
                        </li>
                    </ul>
                    <div class="scroll">
                        <a href="#cluster" class="redButton pop" style="margin-bottom: 100px;">下一步</a>
                    </div>

                    <div class="info">
                        <p>测试提供：国馆，中国收藏级文化白酒</p>
                    </div>
                </div>
            </div>
            <div id="cluster" class="scroll">
                <div class='etabs '>
                    <span class='tab'><a href="#result" class="dissolve">测试结果</a></span><span class='tab tab-selected'><a href="#cluster" class="dissolve">改变企业的秘密</a></span>
                </div>
                <div class='panel-container'>
                    <div class="result-title">
                        <h1>
                            改变企业的十个微信号
                        </h1>
                    </div>
                    <div class="brief-result">
                        <p>
                            是是是是是是是 是是是是是是是 是是是是是是是 是是是是是是是 是是是是是是是 ooo 是是是是是是是 是是是是是是是 是是是是是是是 是是是是是是是
                        </p>
                    </div>
                    <ul class="plastic scroll">
                        <li ng-repeat="item in postCluster">
                            <img src="{{item.img}}">
                            <a href="{{item.href}}" target="_blank">
                                {{item.title}}
                                <br>
                                <span>{{item.detail}}</span>
                            </a>
                            <button class="look-button">去看看</button>
                        </li>
                    </ul>
                    <div class="scroll" style="margin-top: 30px; margin-bottom: 30px">
                        <a href="#result" class="redButton pop" style="margin:0; width: 34%; float: left;font-size: 14px; margin-left: 10px;">返回看测试结果</a>
                        <a href="javascript:void(0)" class="redButton share-to-sina-button" style="margin:0; width: 34%; float: right;font-size: 14px;margin-right: 10px">分享到朋友圈</a>
                        <div style="clear: both"></div>
                    </div>
                    <div class="info">
                        <p>测试提供：国馆，中国收藏级文化白酒</p>
                    </div>
                </div>
            </div>


        </div>
    </body>
    <script src="lib/js/angular.min.js" type="text/javascript"></script>
    <script src="lib/js/controllers.js" type="text/javascript"></script>
    <script src="lib/js/option.js" type="text/javascript"></script>
    <script src="lib/js/charts.js" type="text/javascript"></script>
    <script>
        if (window.navigator.standalone) {
            $("meta[name='apple-mobile-web-app-status-bar-style']").remove();
        }
        function hidead()
        {
            document.getElementById("ad").style.display = "none";
            var nodeOne = document.getElementsByClassName("etabs");
            var nodeTwo = document.getElementsByClassName("item-title");
            for (var i = 0, l = nodeOne.length; i < l; i++) {
                nodeOne[i].style.marginTop = "0";
            }
            for (var i = 0, l = nodeTwo.length; i < l; i++) {
                nodeTwo[i].style.marginTop = "10px";
            }
            /*$(".item-title").css("margin-top","0")
             $(".etabs").css("margin-top","0")*/
        }

        var x = 50, y = 60
        var xin = true, yin = true
        var step = 1
        var delay = 1
        var obj = document.getElementById("ad")
        function floatAD() {
            var L = T = 0
            var R = document.body.clientWidth - obj.offsetWidth
            var B = document.body.clientHeight - obj.offsetHeight
            obj.style.left = x + document.body.scrollLeft
            obj.style.top = y + document.body.scrollTop
            x = x + step * (xin ? 1 : -1)
            if (x < L) {
                xin = true;
                x = L
            }
            if (x > R) {
                xin = false;
                x = R
            }
            y = y + step * (yin ? 1 : -1)
            if (y < T) {
                yin = true;
                y = T
            }
            if (y > B) {
                yin = false;
                y = B
            }
        }
        var itl = setInterval("floatAD()", delay)
        obj.onmouseover = function() {
            clearInterval(itl)
        }
        obj.onmouseout = function() {
            itl = setInterval("floatAD()", delay)
        }
        var dataForWeixin = {
            appId: "wxf65f82289ec9134a", //微信公众号ID
            MsgImg: "http://box.guoguan.com/html/weixinApp/appmodel/themes/images/zhongguodao.jpg", //分享给朋友和收藏时显示的缩略图
            TLImg: "http://box.guoguan.com/html/weixinApp/appmodel/themes/images/zhongguodao.jpg", //分享到朋友圈时显示的缩略图
            url: testurl, //分享地址
            title: sharetitle, //"潜意识测试：从送礼测你潜在的性格", //分享至微博、朋友圈、朋友都会用到
            desc: "已有132万网友参与测试！^-^", //分享给 朋友时会用到
            fakeid: "",
            callback: function() {
                //分享成功回调方法，其中分享给朋友、分享到微博、收藏都是成功后回调，而分享到朋友圈是点分享按钮就会调用
            }
        };
        (function() {
            var onBridgeReady = function() {
                //分享给朋友
                WeixinJSBridge.on('menu:share:appmessage', function(argv) {
                    WeixinJSBridge.invoke('sendAppMessage', {
                        "appid": dataForWeixin.appId,
                        "img_url": dataForWeixin.MsgImg,
                        "img_width": "120",
                        "img_height": "120",
                        "link": dataForWeixin.url,
                        "desc": dataForWeixin.desc,
                        "title": dataForWeixin.title
                    }, function(res) {
                        (dataForWeixin.callback)();
                    });
                });
                //分享至朋友圈
                WeixinJSBridge.on('menu:share:timeline', function(argv) {
                    (dataForWeixin.callback)();
                    WeixinJSBridge.invoke('shareTimeline', {
                        "img_url": dataForWeixin.TLImg,
                        "img_width": "120",
                        "img_height": "120",
                        "link": dataForWeixin.url,
                        "desc": dataForWeixin.desc,
                        "title": dataForWeixin.title
                    }, function(res) {
                    });
                });
            };
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeaReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        })();
    </script>
</html>
