@charset "utf-8";
/*全站样式配置开始*/

/*初始化*/
*html { background-image:url(about:blank); background-attachment:fixed; }
* { margin: 0; padding: 0; }
html, body, div, p, ul, ol, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input, fieldset, legend, img, optgroup { margin:0; padding:0; }
html, body { font-family:'Microsoft YaHei', '宋体', 'sans-serif'; font-size:12px; color:#333; background: #f2f2f2; min-width:320px; }
@media (max-width:768px) {
html, body {
 font-size:14px;
}
}
em, i, input, textarea { font-family:"宋体", sans-serif; font-size:18px; font-style:normal; }
ul, li { list-style:none; }
input, select, textarea { font-size:18px; vertical-align:middle; }
a img { border:0; }
table { border-collapse: collapse; border-spacing: 0; }
label { font-weight:normal; }
/*全局a的颜色*/
a { text-decoration:none; color:#333; }
a { text-decoration:none; color:#333; }
a.gray999:hover, a:hover { text-decoration:underline; color:#b18247; }
a:focus, a:active, a.gray:hover { color:#b18247; }
.hover { color:#b18247; }
.focus { text-decoration:underline; color:#b18247; white-space:nowrap; }
.focus:hover { text-decoration:none; }
.prompt { font-size:14px; color:#999; }
.gray { color:#ccc; }
.fs14{
    font-size: 14px;
}
.form-label{text-align: right; font-size: 14px ; font-weight: bold; line-height: 30px;}
a.gray999, .gray999 { color:#999; }
/*显示、隐藏*/
.hide { display:none; }
.black { display: block; }
.inline-black { display: inline-block; }
.inlinebl{display: inline-block}
.dis-tab { display:table; height: auto; }
.dis-cell { display: table-cell; }
.dis-cell-m { display: table-cell; vertical-align:middle; }
/*透明*/
.opacity { width:100%; height:100%; _height:expression( (this.parentElement.clientHeight ) +'px');
background:#000; position: absolute; top:0; left:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; opacity: 0.5; filter:alpha(opacity=50); }
/*文字溢出隐藏*/
.tsc { white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow: hidden; }
/*字体*/
.f-yh { font-family:'Microsoft YaHei', '宋体', 'sans-serif'; }
.f-st { font-family: '宋体', Arial, Helvetica, sans-serif; }
.f-ar { font-family:Arial, Helvetica, sans-serif; }
.h1, .h2, .h3, .h4, .h5, .h6 { font-family:'Microsoft YaHei', 'sans-serif'; }
/*层浮动*/
.floor { width:100%; display:inline-block; }
.fl { float:left; }
.fr { float:right; }
/*全站样式配置结束*/
.navbar { width:100%; background:rgba(236, 236, 236, 0.8); margin:0; border-bottom:1px solid #d0d0d0; }
.navbar.navbar-default { -webkit-transition: all 2.0s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; -o-transition: all 2s ease; transition: all 2.0s ease; padding:10px 0; }
.navbar.navbar-guoguan { border:none; padding:0; }
.navbar-guoguan .navbar-toggle { margin-top:15px; border-color:#b18247; }
.navbar-guoguan .navbar-toggle .icon-bar { background-color:#b18247; }
.navbar-guoguan .navbar-header { width:100%; }
.logo { height:40px; margin:10px 15px; max-height:100%; max-width:100%; }
.Glogo { width:auto; float:left; margin-left:10px; background:rgba(255, 255, 255, 0.8); position:relative; z-index:100; }
.header-Icon { text-align:center; }
.header-Icon .hd-Icon { position: relative; display:inline-block; }
.header-Icon .hd-Icon li { float:left; height:16px; line-height:16px; font-size:12px; margin-right:20px; }
.header-Icon .hd-Icon li i { float: left; width:19px; height:16px; overflow:hidden; margin-right:5px; background:url(../img/top-Icon.png) no-repeat;  -webkit-transition: all .3s ease;
 -moz-transition: all .3s ease;
 -ms-transition: all .3s ease;
 -o-transition: all .3s ease;
 transition: all .3s ease;
}
.header-Icon .hd-Icon li.link-wb i { background-position:0 0; }
.header-Icon .hd-Icon li.link-wx i { background-position:-21px 0; }
.header-Icon .hd-Icon li.link-sj i { background-position:-42px 0; }
.header-Icon .hd-Icon li.link-yy i { background-position:-63px 0; }
.header-Icon .hd-Icon li.link-wb:hover i { background-position:0 -17px; }
.header-Icon .hd-Icon li.link-wx:hover i { background-position:-21px -17px; }
.header-Icon .hd-Icon li.link-sj:hover i { background-position:-42px -17px; }
.header-Icon .hd-Icon li.link-yy:hover i { background-position:-63px -17px; }
.header-Icon .hd-Icon li a { color:#999; }
.header-Icon .hd-Icon li a:hover { color:#b18247; }
#GGweixinBox { position:fixed; top:50px; right:20px; display:none; z-index:10004; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.navbar-collapse { padding-top:10px; }
.navbar-collapse.in { overflow-y:visible; }
.Gnav { width:100%; position:relative; text-align:center; }
.Gnav li { position:relative; z-index:10; height:32px; line-height:32px; font-size:16px; display:inline-block; margin:0 10px; }
.Gnav li.current a, .Gnav li a:hover { text-decoration:none; color:#b18247; }
.Gnav li i { line-height:12px; padding:2px; position:absolute; top:-10px; right:0; font-size:12px; color:#fff; background:#ff0000; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.Gnav li.Glogo-lg { display:none; }
.Gnav li.back { margin:0; width: 9px; height: 32px; z-index: 8; position: absolute; top:0; border-bottom: 2px solid #b18247; }
.footer { position:static; margin-top:20px; font-size:12px; color:#999; border-bottom:5px solid #b18247; }
.footer.navbar { padding:0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.footer .container { padding-bottom:0; }
.footer-cp p { display:block; text-align:center; }
.footer-link { margin-top:20px; text-align:right; display:table-cell; vertical-align:middle; }
.footer-link a { display:inline-block; margin:10px; color:#999; }
.footer-link a:hover { color:#b18247; }
 @media (min-width:768px) {
 .navbar-default .logo {
height:auto;
}

 .Glogo {
width:100%;
text-align:center;
padding:5px 0;
margin-left:0;
float:none;
position:static;
}
 .Glogo .logo {
height:62px;
}
 .header-Icon .hd-Icon {
position: fixed;
}
 .header-Icon .hd-left {
top:15px;
left:10px;
}
 .header-Icon .hd-right {
top:15px;
right:10px;
}
 .navbar {
height: auto;
padding:20px 0;
}
 .footer {
position: fixed;
z-index:1003;
bottom:0;
left:0;
margin-top:0;
}
 .footer-cp p {
display:inline-block;
text-align:left;
}
 .footer-link a {
margin:0 20px;
}
 .navbar.navbar-guoguan.navbar-fixed-top {
padding-top:18px;
}
}
.register-form-bg{
    background-color: #f9f9f9;
    padding-top: 5px;
    border: 1px solid #d0d0d0;
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom:63px
}
.register-form-title{
    color: #d69d56;
}

.Rightbar { display:none; position:fixed; top:50%; right:10px; width:36px; margin-top:-36px; z-index:1000; }
.Rightbar a { display:block; height:36px; color:#b4b4b4; font-size:36px; }
.Rightbar a:hover { color:#b18247; }
.ptonav { padding-top:160px; }
.wrap {
overflow:; height: 100%; -webkit-transition: -webkit-transform .2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
-moz-transition: -moz-transform .2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
-o-transition: -o-transform .2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
transition: transform .2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}
.wrap .content { position: absolute; height: auto; outline: 0; width: 100%; min-width:320px; z-index: 30; }
.bgbox { position: fixed; top: 0; left: 0; bottom: 0; right: 0; display: block; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat:no-repeat; }
.bgbox-mask { content: ''; position: absolute; top:0; left: 0; right: 0; bottom: 0; z-index: 1;/*  background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.3)));
  background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-image: linear-gradient(to top,rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000',endColorstr='#00000000',GradientType=0);
*/
}
.pagecontent { background: rgba(255, 255, 255, 0.9); padding: 50px; position: relative; }
.pagecontent h1, .pagecontent h4, .pagecontent h2, .pagecontent h3 { text-align: center; font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; margin-top: 0 }
.pagecontent p { font-size: 16px; line-height: 1.8; margin-bottom: 1em; }
.pagecontent .author { margin-top: 20px; margin-bottom: 20px; text-align: center; line-height: 24px; }
.pagecontent .author img { width: 24px; vertical-align: bottom; margin-right: 15px }
.siderbar { padding-top: 50px; position: fixed; }
.siderbar .logo { display: block; }
.btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; letter-spacing: -0.02em;  -webkit-transition: .1s background-color, 0.1s border-color, 0.1s color;
 -moz-transition: .1s background-color, 0.1s border-color, 0.1s color;
 -ms-transition: .1s background-color, 0.1s border-color, 0.1s color;
 -o-transition: .1s background-color, 0.1s border-color, 0.1s color;
 transition: .1s background-color, 0.1s border-color, 0.1s color;
behavior: url(ie-css3.htc); }
.btn + .btn { margin-left:12px; }
.btn-default { border:1px solid #b18247; background: none; font-size:12px; padding: 12px 24px ; color: #fff; background-color:#b18247 }
.btn-lg { padding: 12px 78px; }
.btn-md { padding: 12px 56px; }
.btn-sm { padding: 6px 12px; }
.btn-sm-lg { padding: 6px 30px; }
.btn-xs {padding: 7px 29px; }
.btn-login { width:100%; max-width:300px; }
.btn-default span { font-size:14px; }
.btn-default.btn-icon-left span { margin-right: 8px; }
.btn-default.btn-icon-right span { margin-left: 8px; }
.btn-lg.btn-icon { padding-left: 15px; padding-right: 30px }
.btn-lg.btn-icon span { padding-right: 25px; }
.btn-default:hover { background: #d69d56; border:1px solid #d69d56; color: #fff; }
.btn-gray { border:1px solid #999; background: none; font-size:18px; padding: 12px 30px; color:#999; }
.btn-gray:hover { background: #999; border:1px solid #999; color: #fff; }
.btn-white { border-color: #fff; color: #fff; }
.btn-white:hover { background: #fff; color:#b18247; border-color: #fff; }
.btn-opacity { border-color: #fff; color: #fff; }
.btn-opacity:hover { color:#b18247; border-color: #fff; }
/*分页*/
.Gpagination li { position:relative; display:inline-block; }
.Gpagination li a.disabled { cursor: not-allowed; }
.Gpagination li.num { font-size:14px; }
.Gpagination li.num a { display:inline-block; width:20px; height:20px; line-height:20px; font-weight:700; text-align:center; text-decoration:underline; color:#fff; background:#d5d5d5; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; -webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-ms-transition: all .2s linear;
transition: all .2s linear;
}
.Gpagination li.num a:hover, .Gpagination li.num a.on { text-decoration:underline; color:#fff; background:#e1ceb6; }
.Gpagination li.pbtn { width:10px; }
.Gpagination li.point span { width:5px; height:5px; margin:0 2px; display:inline-block; background:#d5d5d5; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
.Gpagination b { position:absolute; top:-12px; left:-6px; border:6px solid; border-color:transparent #d5d5d5 transparent transparent; overflow:hidden; cursor:pointer; width:1px; height:3px; -webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-ms-transition: all .2s linear;
transition: all .2s linear;
}
.Gpagination li.pbtn.prev b.b2 { left:-2px; }
.Gpagination li.pbtn.next b.b2 { left:2px; }
.Gpagination li.next b { left:6px; border-color:transparent transparent transparent #d5d5d5; }
.Gpagination li.pbtn.prev a:hover b { border-color:transparent #e1ceb6 transparent transparent; }
.Gpagination li.pbtn.prev a.disabled:hover b { border-color:transparent #d5d5d5 transparent transparent; }
.Gpagination li.pbtn.next a:hover b { border-color:transparent transparent transparent #e1ceb6; }
.Gpagination li.pbtn.next a.disabled:hover b { border-color:transparent transparent transparent #d5d5d5; }
/*输入框*/
.form-control { min-width:50px; background:none; }
.form-control:focus { border-color: #b18247; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(177, 130, 71, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(177, 130, 71, 0.6); }
input[type="radio"] { margin-top:6px; }
/* 模态 */
.modal-backdrop { background: #fff; }
.modal-content { box-shadow: none; }
.modal-footer { text-align: center; }
/*表单验证*/
.form-control.error { border-color:red; box-shadow:none;/*inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 102, 102, 0.6)*/ }
.tips { font-size:12px; display:inline-block; color:#000000; }
.tips.error-tips { color:red; }
.tips.succ-tips { width:24px; height:34px; background:url(../img/succ.jpg) center no-repeat; }
.Tsap { margin-top:120px; line-height:36px; color:#999; padding-bottom:20px; }
/*边框*/
.line-b { border-bottom:1px solid #eae0d5; }
.line-t { border-top:1px solid #eae0d5; }
/*表格*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { border-top:1px solid #eae0d5; }
.table.bordernone>thead>tr>th, .table.bordernone>tbody>tr>th, .table.bordernone>tfoot>tr>th, .table.bordernone>thead>tr>td, .table.bordernone>tbody>tr>td, .table.bordernone>tfoot>tr>td { border-top:none; }
.table>thead>tr>th { font-weight:normal; color:#999; border-bottom:3px solid #eae0d5; }
.table.bordernone>thead>tr>th { border-bottom:none; }
/*填充边距*/
.pt5 { padding:5px; }
.p10 { padding:10px; }
.pl10 { padding-left:10px; }
.pr10 { padding-right:10px; }
.pt10 { padding-top:10px; }
.pb10 { padding-bottom:10px; }
.p20 { padding:20px; }
.pl20 { padding-left:20px; }
.pr20 { padding-right:20px; }
.pt20 { padding-top:20px; }
.pt40 { padding-top:40px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px; }
.mt2{margin-top:2px!important;}
.mt5 { margin-top:5px; }
.m10 { margin:10px; }
.ml10 { margin-left:10px; }
.mr10 { margin-right:10px; }
.mt10 { margin-top:10px; }
.mb10 { margin-bottom:10px; }
.m20 { margin:20px; }
.ml20 { margin-left:20px; }
.mr20 { margin-right:20px; }
.mr50 { margin-right:50px; }
.mt20 { margin-top:20px; }
.mb20 { margin-bottom:20px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }
.mt60 { margin-top:60px; }
.mt80 { margin-top:80px; }
.mt160 { margin-top:160px; }
.register-style-choose{
    margin-left:20.666666%
}
.glyphicon-ok-circle{
    color: #02b913;
}
.glyphicon-remove-circle{
    color: #ff0000;
}
.color-404040{
    color:#404040
}
.bg-color-e6e6e6{
    background-color: #e6e6e6;
}
.border-d0d0d0{
    border:1px solid #d0d0d0;
}
@media (max-width: 767px){
   .form-label{display: none}
    .btn{margin-top:10px}
    .register-style-choose{
        margin-left:3.666666%
    }
    .get-valid-code{
        position: absolute;
        top: 65px;
    }
    .get-valid-code-position{
        margin-top: 58px;
    }
    .ptonav{
        padding-top: 90px;
    }
}
