body{
    overflow-x: hidden;
}
.container { width: 960px; margin: 0 auto; position: relative; }
.container-big{ width: 1440px; margin: 0 auto; position: relative;}
.banner{
    background:url("../images/1_01.jpg") center top no-repeat;
    width: 1440px;
    height: 494px;

}
.banner-second{
    background:url("../images/1_01_01.png") center top no-repeat;
    width: 1440px;
    height: 251px;
}
body{
    background: url("../images/bg.png") repeat center top;
}
.footer{
    background:url("../images/1_13.jpg") center top no-repeat;
    width: 1440px;
    cursor: pointer;
    height: 228px;
}
.second-title {
    font-size: 42px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    color: #434343;
}
.second-title span{
    color: #e60012;
}
.second-title-detail{
    font-size: 20px;
    color: #535353;
    text-align: center;
    margin-top: 20px;
}
.second-title-content{
    margin-top: 50px;
}
.second-title-content p{
    font-size: 16px;
    line-height: 29px;
    color: #333;
}
.avi-div{
    width: 100%;
    height: 482px;
    background-color: #000;
}
.right-fixed{
    z-index: 100;
    width: 147px;
    font-size: 16px;
    position: fixed;
    right: 5px;
    bottom: 15px;
}

.right-fixed li a {
    color: #000;
}
.right-fixed li{
    text-align: center;
}
.right-fixed-one{
    background-color: #f5e2cb;
    height: 140px;
}
.right-fixed-two{
    background-color: #e3d0b9;
    height: 59px;
    line-height: 59px;
}
.right-fixed-three{
    background-color: #c5b29b;
    height: 59px;
    line-height: 59px;
}
.right-fixed-four{
    background-color: #99866f;
    height: 59px;
    line-height: 59px;
    font-size: 13px;
}
.wenzhang{
    text-align: center;
}
.wenzhang p.color-one {
    font-size: 16px;
    line-height: 29px;
    color: #7d7d7d;
    text-align: left;
    text-indent: 2em;
}
.wenzhang-two{
    margin-top: 30px;
}
.wenzhang-two span{
    color: #535353;
    font-size: 20px;
    font-weight: bold;
}
.wenzhang-two p.color-two {
    font-size: 16px;
    line-height: 29px;
    color: #707070;
    text-align: left;
    margin-top: 20px;
    text-indent: 2em;
}
.bg-two{
    background: url("../images/1_14.jpg") center top no-repeat;
    height: 805px;

}
.bg-two>div{
    padding-top: 100px;
}
.bg-two>div span{
    font-size: 60px;
    color: #e60012;
}
.bg-two>div>div {
    margin-top: 24px;
    font-size: 42px;
    height: 42px;
    color: #000;
    line-height: 42px;
}
.bg-three{
    background: url("../images/1_15.jpg") center top no-repeat;
    height: 901px;
}
.bg-four{
    background: url("../images/1_16.jpg") center top no-repeat;
    height: 774px;
}
.middle-left{
    width: 590px;
    float: left;
    height: 612px;
    margin-right: 20px;
}
.middle-right{
    width: 340px;
    float: left;
    height: 612px;
}
.left-one{
    width: 288px;
    float: left;
    margin-right:10px;
}
.left-two{
    width: 288px;
    float: left;
}
.right-one{
    width: 100%;
    height: 160px;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
}
.right-two{
    width: 100%;
    height: 437px;
    text-align: center;
    margin-top: 3px;
    background-color: rgba(255,255,255,0.3);
}
.sina-weibo{
    height: 800px;
}
.more-detail{
    color: #b63333;
}

@media (max-width: 1260px) {
    .right-fixed-one{
        display: none;
    }
    .right-fixed-two{
        display: none;
    }
    .right-fixed-three{
        display: none;
    }
    .right-fixed-four{
        display: none;
    }
}
