@charset "utf-8";
/*全站样式配置开始*/

/*初始化*/
*html { background-image:url(about:blank); background-attachment:fixed; }
* { margin: 0; padding: 0; }
html, body, div, p, ul, ol, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input, fieldset, legend, img, optgroup { margin:0; padding:0; }
html, body { font-family:'Microsoft YaHei', '宋体', 'sans-serif'; font-size:18px; color:#333; background: #f8f8f8; min-width:320px; }
@media (max-width:768px) {
html, body {
 font-size:14px;
}
}
em, i, input, textarea { font-family:"宋体", sans-serif; font-size:18px; font-style:normal; }
ul, li { list-style:none; }
input, select, textarea { font-size:18px; vertical-align:middle; }
a img { border:0; }
table { border-collapse: collapse; border-spacing: 0; }
label { font-weight:normal; }
/*全局a的颜色*/
a { text-decoration:none; color:#333; }
a.gray999:hover, a:hover { text-decoration:underline; color:#b18247; }
a:focus, a:active, a.gray:hover { color:#b18247; }
.hover { color:#b18247; }
.focus { text-decoration:underline; color:#b18247; white-space:nowrap; }
.focus:hover { text-decoration:none; }
.prompt { font-size:14px; color:#999; }
.gray { color:#ccc; }
a.gray999, .gray999 { color:#999; }
/*显示、隐藏*/
.hide { display:none; }
.black { display: block; }
.inline-black { display: inline-block; }
.dis-tab { display:table; height: auto; }
.dis-cell { display: table-cell; }
.dis-cell-m { display: table-cell; vertical-align:middle; }
/*透明*/
.opacity { width:100%; height:100%; _height:expression( (this.parentElement.clientHeight ) +'px');
background:#000; position: absolute; top:0; left:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; opacity: 0.5; filter:alpha(opacity=50); }
/*文字溢出隐藏*/
.tsc { white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow: hidden; }
/*字体*/
.f-yh { font-family:'Microsoft YaHei', '宋体', 'sans-serif'; }
.f-st { font-family: '宋体', Arial, Helvetica, sans-serif; }
.f-ar { font-family:Arial, Helvetica, sans-serif; }
.h1, .h2, .h3, .h4, .h5, .h6 { font-family:'Microsoft YaHei', 'sans-serif'; }
.font-lg { font-size:48px;}

/*全站样式配置结束*/

.btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; letter-spacing: -0.02em;  -webkit-transition: .1s background-color, 0.1s border-color, 0.1s color;
 -moz-transition: .1s background-color, 0.1s border-color, 0.1s color;
 -ms-transition: .1s background-color, 0.1s border-color, 0.1s color;
 -o-transition: .1s background-color, 0.1s border-color, 0.1s color;
 transition: .1s background-color, 0.1s border-color, 0.1s color;
behavior: url(ie-css3.htc); }
.btn + .btn { margin-left:12px; }
.btn-default { border:1px solid #b18247; background: none; font-size:18px; padding: 12px 24px; color:#b18247; }
.btn-lg { padding: 12px 78px; }
.btn-md { padding: 12px 56px; }
.btn-sm { padding: 6px 12px; }
.btn-sm-lg { padding: 6px 30px; }
.btn-xs { padding: 3px 10px; }
.btn-login { width:100%; max-width:300px; }
.btn-default span { font-size:14px; }
.btn-default.btn-icon-left span { margin-right: 8px; }
.btn-default.btn-icon-right span { margin-left: 8px; }
.btn-lg.btn-icon { padding-left: 15px; padding-right: 30px }
.btn-lg.btn-icon span { padding-right: 25px; }
.btn-default:hover { background: #b18247; border:1px solid #b18247; color: #fff; }
.btn-gray { border:1px solid #999; background: none; font-size:18px; padding: 12px 30px; color:#999; }
.btn-gray:hover { background: #999; border:1px solid #999; color: #fff; }
.btn-white { border-color: #fff; color: #fff; }
.btn-white:hover { background: #fff; color:#b18247; border-color: #fff; }
.btn-opacity { border-color: #fff; color: #fff; }
.btn-opacity:hover { color:#b18247; border-color: #fff; }
/*输入框*/
.form-control { min-width:50px;  }
.form-control:focus { border-color: #b18247; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(177, 130, 71, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(177, 130, 71, 0.6); }
input[type="radio"] { margin-top:6px; }
/* 模态 */
.modal-backdrop { background: #fff; }
.modal-content { box-shadow: none; }
.modal-footer { text-align: center; }
/*表单验证*/
.form-control.error { border-color:#a94442; box-shadow:none;/*inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 102, 102, 0.6)*/ }
.tips { margin-top:5px; margin-bottom:10px; font-size:14px; display:inline-block; color:#ccc; }
.tips.error-tips { color:#a94442; }
.tips.succ-tips { width:24px; height:34px; background:url(../img/succ.jpg) center no-repeat; }
.Tsap { margin-top:120px; line-height:36px; color:#999; padding-bottom:20px; }
/*边框*/
.line-b { border-bottom:1px solid #eae0d5; }
.line-t { border-top:1px solid #eae0d5; }
/*表格*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { border-top:1px solid #eae0d5; }
.table.bordernone>thead>tr>th, .table.bordernone>tbody>tr>th, .table.bordernone>tfoot>tr>th, .table.bordernone>thead>tr>td, .table.bordernone>tbody>tr>td, .table.bordernone>tfoot>tr>td { border-top:none; }
.table>thead>tr>th { font-weight:normal; color:#999; border-bottom:3px solid #eae0d5; }
.table.bordernone>thead>tr>th { border-bottom:none; }
/*填充边距*/
.pt5 { padding:5px; }
.p10 { padding:10px; }
.pl10 { padding-left:10px; }
.pr10 { padding-right:10px; }
.pt10 { padding-top:10px; }
.pb10 { padding-bottom:10px; }
.p20 { padding:20px; }
.pl20 { padding-left:20px; }
.pr20 { padding-right:20px; }
.pt20 { padding-top:20px; }
.pt40 { padding-top:40px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px; }
.mt5 { margin-top:5px; }
.m10 { margin:10px; }
.ml10 { margin-left:10px; }
.mr10 { margin-right:10px; }
.mt10 { margin-top:10px; }
.mb10 { margin-bottom:10px; }
.m20 { margin:20px; }
.ml20 { margin-left:20px; }
.mr20 { margin-right:20px; }
.mr50 { margin-right:50px; }
.mt20 { margin-top:20px; }
.mb20 { margin-bottom:20px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }
.mt60 { margin-top:60px; }
.mt80 { margin-top:80px; }
.mt160 { margin-top:160px; }


/*活动*/
.floorOne { background-color: #b10000; color:#fff;}
.img { max-width:100%;}
.floorTwo { background-color: #e4a274}
.floorTwo .article { color:#fff; line-height:30px;}
.Gform { display:block;background:#f8cd02; padding:80px 40px; position:relative; -webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-ms-transition: all .2s linear;
transition: all .2s linear;} 
.Gform label { color:#b28600;}
.btn-Gsubmit { background:#b28600; border:none; color:#fff; font-size:24px;}
.btn-Gsubmit:hover { background:#8b6903; color:#fff; }
#Gshare span {width:42px; height:42px; display:block;}
#Gshare a {width:43px; height:43px; display:block; position:absolute; background:url(../images/shareIcon.png) no-repeat;-webkit-transition:all 0.8s ease; transition:all 0.8s ease;}
#Gshare a.bds_tsina { background-position:-86px 0; bottom:1%; right:10px;}
#Gshare a.bds_weixin { background-position:-43px 0; bottom:1%; right:60px;}
#Gshare a.bds_douban { background-position:0 0; bottom:1%; right:110px;}
#Gshare a:hover { -webkit-transform: rotate(360deg); -Moz-transform: rotate(360deg); -ms-Transform: rotate(360deg); transform: rotate(360deg); }
.floorThree { background-color:#b8d2e4;}
.newshead { padding:10px 0; margin-right:20px;color:#87acc6;}
.newshead.on { border-bottom:2px solid #217bb9;color:#217bb9;}
.newshead:hover { text-decoration:none; color:#217bb9;}
.waterfallbox {  padding:10px; margin:0 auto; padding-bottom:50px;}
.items-body {background:#fff; width:100%; padding:20px 30px;-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); overflow:hidden}
.peaple-old { display:none;}

.glyphicon { cursor:pointer; color:#b18247; font-size:24px;}
.effect li { width:100%;margin-top:10px; opacity: 0;}
.effect li.shown {opacity: 1;}
.effect li.animate {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	-moz-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}
@media (min-width:768px){

.waterfallbox{width:750px;}
.effect li { width:25%; display:inline;}
.items-body {width:97%;}
.Gform {-moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%;}
#Gshare a.bds_tsina { background-position:-86px 0; bottom:16%; right:4%;}
#Gshare a.bds_weixin { background-position:-43px 0; bottom:8%; right:12%;}
#Gshare a.bds_douban { background-position:0 0; bottom:1%; right:21%;}
.peaple-old { display: block;}
.container { padding-bottom:50px;}
}
@media (min-width:992px){.waterfallbox{width:970px;}.effect li { width:25%; display:inline;}
}
@media (min-width:1200px){.waterfallbox{width:1170px;}.effect li { width:25%; display:inline;}.Gform { width:525px; height:525px;}}






