html,body{
    background-color: #fff;
}
.good-information1 {
    background: url("../../img/2222_01.jpg") no-repeat center #000;
    height: 1162px;
    position: relative;
    z-index: 0;
    width: 100%;
}
.good-information2{
    background: url("../../img/2222_02.jpg") no-repeat center #000;
    position: relative;
    height: 1162px;
    z-index: 0;
    width: 100%;
}
.good-information3{
    background: url("../../img/2222_03.jpg") no-repeat center;
    position: relative;
    height: 1162px;
    z-index: 0;
    width: 100%;
}
.good-information4{
    background: url("../../img/2222_04.jpg") no-repeat center;
    height: 1162px;
    z-index: 0;
    position: relative;
    width: 100%;
}
.good-information5{
    background: url("../../img/2222_05.jpg") no-repeat center;
    height: 1162px;
    z-index: 0;
    position: relative;
    width: 100%;
}
.good-information6{
    background: url("../../img/2222_06.jpg") no-repeat center;
    height: 1162px;
    margin-top:-1px;
    z-index: 0;
    position: relative;
    width: 100%;
}
.good-information7{
    background: url("../../img/2222_07.jpg") no-repeat center;
    height: 1162px;
    z-index: 0;
    margin-top: -1px;
    width: 100%;
    position: relative;
}
.good-information8{
    background: url("../../img/2222_08.jpg") no-repeat center;
    height: 1162px;
    z-index: 0;
    width: 100%;
    position: relative;
}
.good-information9{
    background: url("../../img/2222_09.jpg") no-repeat center;
    height: 1162px;
    z-index: 0;
    margin-top:-1px;
    width: 100%;
    position: relative;
}
.good-information10{
    background: url("../../img/2222_10.jpg") no-repeat center;
    height: 1162px;
    z-index: 0;
    width: 100%;
    position: relative;
}
.good-information11{
    background: url("../../img/2222_11.jpg") no-repeat center;
    height: 1162px;
    z-index: 0;
    position: relative;
    width: 100%;
}
.good-information12{
    background: url("../../img/2222_12.jpg") no-repeat center;
    height: 807px;
    z-index: 0;
    width: 100%;
    margin-top:-1px;
    position: relative;
}
.mt-18{
    margin-top: -18px;
}
.purchase-content{
    width: 920px;
    margin:0 auto;
}
.nav-top-bottom{
    position: fixed;
    right: 30px;
    color: #fff;
    z-index: 999;
    bottom: 70px;
}
.nav-button-style {
    height: 50px!important;
    text-align: center;
    line-height: 50px!important;
    width: 50px!important;
}
.displaybl {
    display: block!important;
}
.icon-chevron-up{
    background:url("../../images/angle-up.png") center no-repeat;
    background-size: 25px 25px;
}
.icon-chevron-down{
    background:url("../../images/angle-down.png") center no-repeat;
    background-size: 25px 25px;
}
.watch-tv{
    position: absolute;
    top: 359px;
    width: 200px;
    left: 50%;
    text-align: center;
    font-size: 17px;
    margin-left: -100px;
}
.shape{
    position: absolute;
    top: 430px;
    width: 200px;
    left: 50%;
    text-align: center;
    font-size: 17px;
    margin-left: -100px;
}
.dashi{
    position: absolute;
    top: 857px;
    width: 200px;
    left: 50%;
    text-align: center;
    font-size: 17px;
    margin-left: -100px;
}
.zuofang{
    position: absolute;
    bottom:9px;
    width: 200px;
    left: 50%;
    text-align: center;
    font-size: 17px;
    margin-left: -100px;
}
.zhongguodao-purchase{
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left:-45px;
}
.s-content{
    max-width: 1124px;
    min-width: 960px;
    margin: 0 auto
}
.s-title{
    text-align: center;
    padding-top: 170px;
}
.s-wenzhang{
    width: 792px;
    margin: 0 auto;
    font-size: 14px;
}
.s-wenzhang p{
    text-indent: 2em;
    line-height: 28px;
}
.four-div{
    width: 742px;
    margin: 0 auto;
}
.four-div img{
    float: left;
}
.four-div>div{
    color: #b28850;
    font-size: 14px;
    margin-left: 97px;
    margin-bottom: 5px;
    margin-top:50px;
    font-weight: bold;
}
.text-detail{
    color: #808080;
    font-size: 12px;
    margin-top:5px;
    margin-bottom: 20px;
}
.story-four-img{
    width: 900px;
    margin: 0 auto;
}