html, body { position:relative; z-index:1; min-width:1024px; height:100%; background:#89725c; overflow-x:hidden;}
body { min-height:1103px; *height:865px; /* max-height:1472px; */}

#globalheader { z-index:9998; top:18px; margin:0 auto; }

.center { display:block; margin-right:auto; margin-left:auto; text-align:center; }
.full { position:absolute; z-index:2; top:0; right:0; bottom:0; left:0; color:transparent; font-size:0; line-height:0; *background:url(http://images.apple.com/global/elements/blank.gif); }
.hide { display:none; }


/* cta links */
.cta { position:relative; z-index:10; overflow:hidden; height:32px; }
.cta a { display:inline-block; margin:0 18px 25px; height:29px; }
.cta a img { margin-top:-4px; }
.cta a:hover img,
.cta a:active img { margin-top:-36px; }
.cta a .medium { display:inline-block; }
.cta a .large { display:none; }

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:portrait) { /* iphone portrait */
    .cta { height:auto; }
    .cta a { display:block; clear:both; margin-right:auto; margin-left:auto; height:20px; }
    .cta a.watch { display:block; clear:both; margin-right:auto; margin-left:auto; height:19px; }
    .cta a:hover,
    .cta a:active { margin-top:-56px; }
    .cta a .medium { display:none; }
    .cta a .large { display:inline-block; }
}


/* promos */
.promos { position:absolute; z-index:1; bottom:246px; overflow:hidden; width:100%; height:200px; }
.promos ul { position:relative; z-index:1; overflow:hidden; margin:0 auto; min-width:1024px; width:100%; max-width:1440px; height:200px; text-align:center; }
.promos ul li { position:relative; z-index:1; float:left; overflow:hidden; margin:0; width:25%; height:200px; }
.promos ul li + li + li + li { margin-right:-.3%; *margin-right:-.5%; width:25.3%; }

.promos ul li a { position:absolute; z-index:1; top:0; right:0; bottom:0; left:0; display:block; overflow:hidden; cursor:pointer; }
.promos ul li a:hover {
    opacity: 0.8;
}
.promos ul li + li a { border-left:2px solid #977655; }

.promos ul li a img { position:absolute; z-index:1; left:50%; margin-left:-182px; }
.promos ul li .title{font-weight: bold; text-shadow: 1px 1px 1px #000; color: #fff; position: absolute; z-index: 2; text-align: center; width: 100%; font-size: 14px; height: 48px; line-height: 48px; bottom: 0; }
.promos ul li a.left img { left:0; }
.promos ul li a.right img { right:0; left:auto; }

.promos ul li a img.wide { display:none; }
@media only screen and (min-width:1200px) {
    .promos ul li a img.wide { display:block; }
    .promos ul li a img.narrow { display:none; }
}


/* banner */
.banner {
    height:53px;
    width: 920px;
    position: relative;
    margin: 0 auto;
}
.second-banner{
    width: 1440px;
    background-color: rgba(151,118,85,0.3);
    height: 39px;
    z-index: 990;
    position: absolute;
    left: 50%;
    margin-left: -720px;
}
.banner img { display:block; margin:0 auto; }

/* homenav */
#homenav{
    height: 53px;
    background: url("../../images/nav_bg.png") repeat-x top;
}
#homenav .banner .logo{
    background: url("../../images/logo.png") center top no-repeat;
    display: inline-block;
    height: 158px;
    width: 115px;
    position: absolute;
    z-index: 999;
}
#homenav .banner .title{
    background:url("../../images/zhongguodao.png") center top no-repeat;
    display: inline-block;
    width: 74px;
    height: 53px;
    margin-left: 310px;
}
#nav_wrapper {
    display: inline-block;
    float: right;
    margin-top: 20px;
    position: absolute;
    height: 30px;
    top: 0;
    line-height: 30px;
    font-size: 14px;
    right: 0;
}
#nav_wrapper #nav_menu a {
    color: #000;
    width: 80px;
    display: inline-block;
    text-align: center;
}
#nav_wrapper #nav_menu a:hover{
    text-decoration: none;
}
#nav_animate_block{
    height: 4px ;
    background-color: #c7000b;
    position: absolute;
}

/*homebutton*/
.purchase-button{
    margin:10px auto 0 auto;
}


.get-more{
    font-size: 18px;
    color: #b8b8b8;
    text-align: center;
    margin-top: 20px;
}

/* homefooter */
#homefooter { position:absolute; z-index:1; right:0; bottom:0; left:0; margin:0; min-width:980px; width:100%;background-color: #333333; height: 244px; padding:0; color:#aaaaaa; font-size: 12px; line-height:1.2; text-align:center; zoom:1; }
#homefooter .wrapper { margin:0 auto; width:980px; padding: 16em 0 0; }
#homefooter .wrapper .bottom {border-bottom: 1px solid #4f4f4f;
    position: absolute;
    top: 198px;
    width: 100%;
    left: 0;}
#homefooter .wrapper:after { content:'.'; display:block; visibility:hidden; clear:both; height:0; }

#homefooter .left { float:left; clear:both; width:49%; padding-top:1.5em; text-align:left; }
#homefooter .right { float:right; width:auto; padding-top:1.5em; text-align:right; }

#homefooter p,
#homefooter .wrapper ul,
#homefooter .wrapper ul li { display:inline; margin:0; }

#homefooter dl {
    width: 15%;
    float: left;
    text-align: left;
    margin-top: 15px;
}
#homefooter dl:first-child{
    margin-left: 100px;
}
#homefooter ul li{
    margin-top: 15px;
}
#homefooter dl dt{
    color: #fff;
    padding-top: 10px;
    font-weight: bold;
}
#homefooter dl dd{
    margin-top: 15px;
    color: #aaaaaa;
}
#homefooter>div:first-child{
    max-width: 1440px;
    width: auto;
    margin:0 auto;
}

@-moz-document url-prefix() {
    #homefooter dl {
        width: 15%;
        float: left;
        margin-top: 28px;
    }
}
