.site-header .header-nav .right{
    float: right;
}
input:focus{outline:none}
ul{list-style: none;}
.site-header .header-nav .nav-main-list .nav-main-item span.arrow{
    display: none;
}
.index-banner{
    width: 1440px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    cursor: pointer
}
.index-banner img{
    width: 1440px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}
.index-purchase-button{
    line-height:45px; width: 200px; height: 45px;
}

.button-disable{
    color: #9c9c9c!important;
}
.purchase-button-position{
    position: absolute;
    right: 307px;
    bottom: 49px;
}
#billboard{
    background-color: #333;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    position: relative;
}
#billboard .swipe{
    max-width: 1440px;
    width: auto;
    margin: 0 auto;
}
#billboard .swipe ul{
    margin:0;
    padding:0;
}
#pagenavi{
    position: absolute;
    left: 50%;
    right: 0;
    margin-left: -60px;
    bottom:10px;
    width: 120px;
}
#pagenavi a.active{
    background: url("../../images/dot_full.png") center top no-repeat !important;
    background-size: 10px 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.site-header .header-nav .nav-main-list .nav-main-item ul{
    background-color: #fff;
    width: 125px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
}
.site-header .header-nav .nav-main-list .nav-main-item ul li{
    border-top:1px solid #ccc;
}
.mini-cart{
    position: relative;
    z-index: 21;
    display: block;
    width: 108px;
    height: 43px;
    line-height: 43px!important;
    border: 1px solid #ff9900;
    text-align: center;
    color: #333;
    background: #ff9900;
}
.mini-cart-list {
    display: none;
    position: absolute;
    top: 44px;
    right: 0;
    z-index: 20;
    width: 292px;
    padding: 20px;
    border: 1px solid #c33829;
    font-size: 12px;
    background: #fff;
}
.mini-cart-on{
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 1px;
    border-color: #c33829;
    border-bottom: 0;
    color: #ff9900;
    background: #fff;
}
.model-one{
    height: 430px;
}
.model-nav{
    padding-left:0;
    margin-left:0;
    margin-top: 35px;
}
.model-nav li{
    display: inline-block;
    margin-bottom: 6px;
    _zoom: 1;
    *display: inline;
    padding-right: 15px;
}
.model-nav li:first-child{
    font-size: 20px;
}
.model-little{
    cursor: pointer;
}
.model-one-left{
    float: left;
    width: 570px;
    height: 430px;
    cursor: pointer;
    position: relative;
    background: url("../../images/index_01.jpg") center top no-repeat;
}
.model-one-left .detail{
    width: 200px;
    height: 115px;
    position: absolute;
    left: 0;
    bottom: 90px;
    color: #fff;
    padding-top:15px;
    padding-left:30px;
    background-color: #c33829;
}
.last-app{
    margin-right: 0!important;
}
.model-one-left .detail .title{
    font-size: 26px;
}
.model-one-left .detail .link{
    margin-top:15px;
}
.link i{margin-left: 5px;}
.model-one-right{
    float: left;
    width: 570px;
    height: 430px;
    margin-left: 10px;
    color: #fff;
}
.model-little-one{
    width: 280px;
    height: 210px;
    float: left;
    position: relative;
    background: url("../../images/index_02.jpg") center top no-repeat;
}
.model-little-two{
    width: 280px;
    height: 210px;
    margin-left: 10px;
    float: left;
    position: relative;
    background: url("../../images/index_03.jpg") center top no-repeat;
}
.model-little-three{
    width: 280px;
    height: 210px;
    float: left;
    margin-top: 10px;
    position: relative;
    background: url("../../images/index_04.jpg") center top no-repeat;
}
.model-little-four{
    width: 280px;
    height: 210px;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
    position: relative;
    background: url("../../images/index_05.jpg") center top no-repeat;
}
.model-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top:5px;
    padding-bottom:5px;
    background-color: rgba(0,0,0,0.3);
}
.model-bottom>div{
    float: left;
}
.model-bottom span{
    margin-left: 10px;
}
.app-image{
    height: 280px;
    width: 280px;
    opacity: 0.7;
}
.model-bottom .right{
    height: 42px;
    line-height: 42px;
    float: right;
    margin-right: 10px;
}
.model-bottom .left .detail{
    font-size: 12px;
}
.model-two{
    text-align: center;
    margin-bottom: 490px;
}
.model-two>div>div{
    background-color: #000;
}
.model-two>div{
    width: 280px;
    height: 430px;
    float: left;
    margin-right: 10px;
    background-color: #f8f8f8;
}
.model-two-little{
    position: relative;
}
.avi-play{
    position: relative;
}
.icon-play-app{
    position: absolute;
    width: 60px!important;
    height: 60px!important;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px!important;
}
.app-column{
    background-color: #f8f8f8!important;
    margin-top:10px;
    margin-left:15px;
    text-align: left;
    font-size: 12px;
}
.app-title{
    background-color: #f8f8f8!important;
    margin-left:15px;
    margin-right:15px;
    text-align: left;
    font-size: 18px;
    overflow: hidden;
}
.app-detail{
    background-color: #f8f8f8!important;
    text-align: left;
    height: 39px;
    font-size: 12px;
    margin:3px 15px 10px 15px;
    overflow: hidden;
}
.app-author{
    background-color: #f8f8f8!important;
    text-align: left;
    color: #ccc;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
}
.cart-section .mini-cart-list .pic img{
    height: 60px;
    width: 60px;
    float: left;
}
.cart-section .mini-cart-list .name{
    float: left;
    width: 110px;
    height: 36px;
    overflow: hidden;
    margin:22px 0 0 8px;
    _zoom: 1;
}
.cart-section .mini-cart-list .price{
    text-align: right;
    float: left;
    padding:22px 0 10px 0;
    width: 70px;
    height: 36px;
}
.cart-section .mini-cart-list .delItem{
    float: right;
    padding:22px 10px 10px 10px;
    height: 36px;
}
.cart-section .mini-cart-list ul li{
    border-bottom: 1px solid #ccc;
}
.cart-section .mini-cart-list ul {
    margin-bottom: 20px!important;
}
.count .total{
    color: #ccc;
    float: left;
}
.count .total strong{
    color: #333;
}
.count .total strong em{
    color: #c33829;
    font-style: normal;
}
.btn-red{
    background-color: #c33829;
    border: 1px solid #c33829;
    color: #fff;
}
.btn-red:hvoer,.btn-red:focus{
    background-color: #ec4432;
    border: 1px solid #ec4432;
}
.left-angle{
    color: #ccc;
    width: 50px;
    height: 50px;
    left: 0;
    text-align: center;
    line-height: 50px;
    position: absolute;
    font-size: 36px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
}
.left-angle:hover,.left-angle:focus{
    background-color: rgba(0,0,0,0.3);
}
.index-angle{
    width: 1150px;
    position: absolute;
    left: 50%;
    margin-left: -575px;
    margin-top: -250px;
}
.right-angle{
    color: #ccc;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    font-size: 36px;
    top: 50%;
    right: 0;
    margin-top: -25px;
    cursor: pointer;
}
.right-angle:hover,.right-angle:focus{
    background-color: rgba(0,0,0,0.5);
}
.nav-dot-display{
    display: none;
}
.icon-style{
    font-size: 24px;
    margin-bottom: 12px;
    display: block!important;
    color: #9c9c9c;
}
.footer-hover-img{
    height: 25px;
    width: 25px;
    margin-bottom: 7px;
}
.login-background{
    background: url("../../images/login-bg.jpg") center top no-repeat;
    height: 602px;
    position: relative;
}
.login-input-area{
    margin-top: 10px;
    position: relative;
}
.error-tip-bg{
    position: absolute;
    width: 236px;
    height: 50px;
    background: url("../../images/error-bg.png") center top no-repeat;
    top: 0;
    left: -236px;
    color: #333;
    line-height: 45px;
}
.error-tip-bg span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}
.input-style{
    height: 44px;
    border: none;
    font-family: "Microsoft Yahei";
    background-color: #fff;
    color: #ccc;
    font-size: 12px;
}
.input-style-border{
    height: 44px;
    border: 1px solid #ccc;
    font-family: "Microsoft Yahei";
    background-color: #fff;
}
.model-one-left .detail .link a:hover,.model-one-left .detail .link a:focus {
    text-decoration: underline;
}
button{

}
.login-title{
    font-size: 28px;
    text-align: center;
    color: #fff;
    padding: 0 0 15px 0;
}
.btn-valite{
    width: 110px;
    height: 45px;
    border:none;
    line-height: 45px;
    background-color: #ccc;
    color: #333;
    *+width:108px;

}
.btn-valite-position{
    position: absolute;
    right: 0;
    top: 0;
}
/*ipad处理*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
    .btn-valite{
        width: 100px;
        height: 45px;
        border:none;
        line-height: 45px;
        background-color: #ccc;
        position: absolute;
        right: 0px;
        top: 0;
        color: #333;
        *+width:108px;
}
}
.btn-valite:hover,.btn-valite:focus{
    background-color: #f8f8f8;
    border:none;
    color: #333;
}
.valite-code{
    width: 110px;
    margin-right: 10px;
    float: left;
}
.login-form{
    position: absolute;
    right: 125px;
    top: 50px;
    width: 230px;
}
.login-form-find{
   width: 230px;
    margin: 0 auto;
}
.left-nav{
    width: 109px;
    top: 51px;
    position: absolute;
    left: 0;
}
.left-nav ul{
    margin:0;
    padding:0;
    background-color: #f8f8f8;
}
.left-nav ul li {
    text-align: center;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
}
.left-nav ul li:first-child{
    border-top: none;
}
.nav-selected{
    color: #c33829!important;
    font-weight: 600;
}
.right-fixed{
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -108px;
    color: #ccc;
    font-size: 12px;
}
.right-fixed li{
    text-align: center;
    width: 70px;
    height: 70px;
    border: 1px solid #f8f8f8;
    background-color: #fff;
}
.right-fixed-color{
    color: #333;
    margin-top: 5px;
}
.right-fixed-img{
    margin-top: 10px;
    width: 30px;
    height: 30px
}

.right-fixed li:hover{
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

.right-content{
    position: relative;
    margin-left: 139px;
    min-height: 500px;
    height: auto;
}
.head-tab{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.head-tab li{
    font-weight: 200;
    font-size: 20px;
    color: #9d9d9d;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 21px;
}
.news-left{
    width: 680px;
    float: left;
    border-right: 1px solid #f8f8f8;
    margin-top: 20px;
    min-height: 200px;
    margin-bottom: 80px;
}
.news-right{
    float: left;
    width: 330px;
    margin-top: 20px;
    min-height: 200px;
    margin-bottom: 80px;
}
.label{
    padding-left: 35px;
    font-size: 13px;
}
.label ul{
    margin-top: 5px;
}
.label ul li{
    font-size: 12px;
    display: inline-block;
    zoom: 1;
    margin-right: 10px;
    *display: inline;
}

.head-tab-selected{
    color: #000!important;
}
.head-tab li a {
    color: #9d9d9d;
}
.vertical-bar{
    font-size: 15px!important;
    vertical-align: middle;
    margin-top: -9px;
}
.time-date{
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 8px;
}
.news-detail-img{
    float: left;
}
.news-detail-img img{
    width: 180px;
    height: 135px;
}
.news-right-detail{
    float: left;
    width: 460px;
    padding-left: 10px;
}
.news-right-detail > div{
    height: 65px;
    overflow: hidden;
}
.news-right-detail h3{
   margin-top: 0;
}
.news-left ul li{
    padding-bottom: 35px;
    border-top: 1px solid #f8f8f8;
    margin-right: 30px;
}
.news-left ul li:first-child{
    border-top: none;
}
.news-left ul li:first-child .time-date{
    margin-top: 0;
}
.load-more{
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}
.left-img img{
    margin-top: 15px;
}
.left-img p{
    margin-top: 5px;
    text-align: center;
}
.left-content{
    margin-right: 30px;
}
.right-list{
    padding-left: 35px;
}
.right-list ul li{
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px solid #f8f8f8;
}
.right-list ul li:first-child{
    border-top: none;
}
.right-list-detail{
   font-size: 16px;
   line-height: 18px;
}
.latest-paper{
    font-size: 13px;
}
.right-date{
    margin-bottom: 5px;
}
.paper-content img{
    width: 100%!important;
}

@media (max-width: 1260px) {
    .index-angle{
        width: 950px;
        position: absolute;
        left: 50%;
        margin-left: -475px;
        margin-top: -188px;
    }
    .left-angle{
        color: #ccc;
        width: 50px;
        height: 50px;
        left: 0;
        text-align: center;
        line-height: 50px;
        position: absolute;
        font-size: 36px;
        top: 50%;
        margin-top: -25px;
        cursor: pointer;
    }
    .right-angle{
        color: #ccc;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        position: absolute;
        font-size: 36px;
        top: 50%;
        right: 0;
        margin-top: -25px;
        cursor: pointer;
    }
    .model-one{
        height: 347px;
    }
    .site-header .header-nav .nav-main-list .nav-main-item{
        font-size: 14px;
    }
    .site-header .header-nav .nav-main{
        width: 690px;
    }
    .app-image{
        height: 230px;
        width: 230px;
    }
    .model-one-left{
        float: left;
        width: 470px;
        height: 355px;
        position: relative;
    }
    .model-one-right{
        float: left;
        width: 470px;
        height: 355px;
        margin-left: 10px;
    }
    .model-little-one{
        width: 230px;
        height: 173px;
        float: left;
        position: relative;
    }
    .model-little-two{
        width: 230px;
        height: 173px;
        margin-left: 10px;
        float: left;
        position: relative;
    }
    .model-little-three{
        width: 230px;
        height: 173px;
        float: left;
        margin-top: 9px;
        position: relative;
    }
    .model-little-four{
        width: 230px;
        height: 173px;
        margin-left: 10px;
        float: left;
        margin-top: 9px;
        position: relative;
    }
    .model-two>div{
        width: 230px;
        height: 450px;
        overflow: hidden;
    }
    .model-bottom .left .detail{
        display: none;
    }
    .model-bottom .right {
        height: 21px;
        line-height: 21px;
        float: right;
        margin-right: 10px;
    }
    .index-banner{
        width: 1140px;
        height: 396px;
        margin: 0 auto;
        position: relative;
        cursor: pointer
    }
    .index-banner img{
        width: 1140px;
        height: 396px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .index-purchase-button{
        line-height: 38px;
        width: 155px;
        height: 38px;
    }
    .purchase-button-position{
        position: absolute;
        right: 245px;
        bottom: 42px;
    }
    #billboard {
        background-color: #333;
        width: 100%;
        margin: 0 auto;
        height: 396px;
        position: relative;
    }
    .news-left{
        width: 530px;
        float: left;
        border-right: 1px solid #f8f8f8;
        margin-top: 20px;
        min-height: 200px;
    }
    .news-right{
        float: left;
        width: 280px;
        margin-top: 20px;
        min-height: 200px;
    }
    .news-right-detail {
        float: left;
        width: 310px;
        padding-left: 10px;
    }
}
