@charset "utf-8";

/*首页样式开始*/
.banner { width:100%; height:400px;overflow:hidden; position:relative; z-index:5;}
.banner .JQ-slide{width:100%;height:400px; overflow:hidden;position:relative;}
.banner .JQ-slide-content{position:absolute;overflow:hidden;}/*必须要的元素*/
.banner .JQ-slide-content li{width:100%;height:400px;float:left; vertical-align:middle; text-align:center;}
.banner .JQ-slide-content li .ban{ width:100%;}
.banner .JQ-slide-content li a {display:block; width:1200px; height:400px; margin:0 auto; }
.banner .JQ-slide-content li a:hover{}
.banner .JQ-slide-nav {height:20px;position:absolute;bottom:7px;left:50%;z-index:6; margin-left:250px;}
.banner .JQ-slide-nav li{float:left;background:#808080;width:20px;height:20px; border:1px solid #545454; text-indent:-999em;overflow:hidden;cursor:pointer; margin-right:7px; filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.banner .JQ-slide-nav li.on{background:#7ead39;}

/*内容*/
.banne-con { width:885px; height:360px;overflow:hidden; position:relative; z-index:5; margin-left:20px;}
.banne-con .JQ-slide{width:885px;height:360px; overflow:hidden;position:relative;}
.banne-con .JQ-slide-content{position:absolute;overflow:hidden;}/*必须要的元素*/
.banne-con .JQ-slide-content li{width:885px;height:360px;float:left; vertical-align:middle; line-height:360px; text-align:center;}
.banne-con .JQ-slide-content li a:hover{ color:#fff;}
.banne-con .JQ-slide-content li img{ width:100%; height:360px;}
.banne-con .JQ-slide-nav {height:20px;position:absolute;bottom:7px;right:0;z-index:6;}
.banne-con .JQ-slide-nav li{float:left;background:#ccc;width:20px;height:20px; border:1px solid #ddd; text-indent:-999em;overflow:hidden;cursor:pointer; margin-right:7px; filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.banne-con .JQ-slide-nav li.on{background:#555;}

.floor { width:100%; display:inline-block;}
.floor .more { float:right;}
.floor-left { float:left; width:925px; display:inline-block; overflow:hidden;}
.floor-right { float:right; width:260px;overflow:hidden;}
.floor5 { width:100%; display:inline-block;}
.floor5 .floor-left {width:520px; }
.floor5 .floor-right {width:670px;}
.floor5 .Goods {}
.floor5 .Goods li { border-top:1px solid #000; padding-right:6px; padding-left:6px;}
.floor5 .floor-bottom { width:100%; float:left; margin-left:10px;}/*IC 专区*/
.floor5 .floor-bottom .Goods li { border-top:none; padding-right:15px; padding-left:15px;}/*IC 专区*/
.floor5 { width:100%; display:inline-block;}
.floor6 .floor-left {width:712px;}
.floor6 .floor-left .Index-con-hd{width:672px;}
.floor6 .floor-right {width:474px;}
.floor6 .floor-right .Index-con-hd{width:434px;}
.floor7 .floor-left .Index-con-hd{width:885px;}
.floor7 .floor-left .Index-con-hd p span { font-size:20px;}
.floor7 .floor-right .Index-con-hd{width:220px;}
.floor8 .Index-con-hd { width:1186px; margin-left:7px; border-bottom:1px solid #000;}
.floor8 .Goods li {padding-right:18px; padding-left:18px;}
/*IC专区/新品特惠*/
.floor9 .floor-left {width:700px; }
.floor9 .floor-right {width:465px; margin-right:22px;*display:inline;}
.floor9 .Goods li { border-top:1px solid #000; padding-right:15px; padding-left:15px; *display:inline;}
.floor9 .floor-bottom { width:100%; float:left; margin-left:10px;}
.floor9 .floor-bottom .Goods li { border-top:none; padding-right:15px; padding-left:15px;}
.floor9 { width:100%; display:inline-block;}
.Newspecial-wrap .floor9 .floor-right .Goods li { border-top:none;}
/*IC专区/新品特惠 end*/
.AD455 { width:940px;}
.AD455 li { width:455px; float:left; margin-right:15px;}
.LatestNews { width:232px; padding:0 14px;height:186px;}
.LatestNews h1 { font-size:18px; height:30px; line-height:30px; padding:5px 0 10px 0;}
.LatestNews li { width:100%; height:30px; line-height:30px;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow: hidden;}
.Index-menu-hd { width:100%; height:34px; overflow:hidden;}
.Index-menu-hd ul { width:928px; height:34px;}
.Index-menu-hd ul li { float:left; width:231px; margin-right:1px; }
.Index-menu-hd ul li a { display:block; width:231px;height:34px; text-align:center; font-size:14px; line-height:34px; background:#000; color:#fff; text-decoration:none;}
.Index-menu-hd ul li a:hover { background:#fefefe; color:#222;}

.index_nav { width:100%; height:185px; overflow:hidden; background: }
.index_nav dl { width:100%; height:37px; line-height:37px; overflow:hidden; font-size:14px; }
.index_nav dl:hover dt { background:#aaa; }
.index_nav dl:hover dd { background:#e6e6e6; }
.index_nav dl dt{ width:72px; float:left;overflow:hidden; text-align:center; background:#e7e7e7;font-weight:bold;}
.index_nav dl dt a:hover { color:#fff;}
.index_nav dl dd { width:848px; padding-left:5px; float:left;overflow:hidden; }
.index_nav dl dd a { color:#4c4c4c;}
.index_nav dl dd a:hover { color:#afd20a;}
.index_nav dl dd span { padding:0 10px; height:14px; margin:10px 0; border-right:1px solid #4c4c4c; white-space:nowrap;}

.Promotions { width:100%;height:219px;}
.Promotions h1 { width:100%;  height:34px; line-height:34px; background:#000; color:#fff; font-weight:bold; text-indent:12px;}
.Promotions dl {width:100%; display:inline-block; height:185px;}
.Promotions dl dt { width:156px; height:183px; float:left; border:1px solid #d9d9d9;}
.Promotions dl dd { width:80px; padding:10px;  float:right;}
.Promotions dl dd p { font-weight:bold;letter-spacing:1px;}
.Promotions dl dd p i{ font-size:16px; color:#888; font-family:Arial, Helvetica, sans-serif;}
.Promotions dl dd p.price { font-size: 25px; margin-bottom:30px; margin-top:5px; text-align: right; color:#c70000; font-family:Arial, Helvetica, sans-serif;}
.Promotions dl dd p.mark-price { line-height:18px;}
.Promotions dl dd p.mark-price em { text-decoration:line-through;}

.Index-new-hd { width:905px; height:30px; line-height:30px; padding-top:10px; margin-left:10px; border-bottom:2px solid #000; clear:both; overflow:hidden;}
.Index-new-hd p { display:inline-block; float:left;}
.Index-new-hd p span { font-size:20px; margin-right:10px;}
.Index-new-hd a { line-height:35px;}

.Index-con-hd { width:1160px; height:40px;line-height:40px;margin-left:20px;clear:both; overflow:hidden;}
.Index-con-hd p { display:inline-block; float:left;}
.Index-con-hd p span { font-size:18px; margin-right:10px; font-weight:bold;}

.Goods { width:100%; display:inline-block; overflow:hidden;}
.Goods-list {width:102%; margin-left:10px; display:inline-block;}
.Goods-list li { float:left; width:202px; padding-left:10px; padding-right:15px; padding-top:18px;padding-bottom:12px; _display:inline;}
.Goods-list li .Goods-pic{  width:200px; height:190px; padding:1px; border:none; overflow:hidden; line-height:184px; vertical-align:middle; text-align:center;}
.Goods-list li .Goods-pic:hover {border:1px solid #ccc; padding:0;}
.Goods-list li .Goods-name{ width:100%;margin-top:7px; height:40px; line-height:20px; overflow: hidden;word-break:break-all;}
.Goods-list li .Goods-price { width:100%; height:26px; line-height:26px;overflow:hidden; margin-top:5px;}
.Goods-list li .Goods-price span { font-size:22px;font-weight:700;font-family:Arial, Helvetica, sans-serif;color:#cb0000; }

.AD260 { width:260px; display:inline-blockb; height:342px;}
.AD500 { width:500px; display:inline-blockb; margin-left:20px; margin-bottom:35px;}
.AD672 { width:672px; display:inline-blockb; margin-left:20px; margin-bottom:15px;}
.AD434 { width:434px;margin-left:20px; margin-bottom:15px;}
.AD1160 { width:1160px; padding:20px;}
.AD680 {width:680px; display:inline-blockb; margin-left:20px;}/*IC专区*/

.hot-list {width:254px; margin-left:3px;}
.hot-list ul {display:inline-block; overflow:hidden; }
.hot-list ul li { width:230px; position:relative; display:inline-block;*display:inline;border-top:1px solid #ebebeb; padding:15px 12px;}
.hot-list ul li .hotimg { float:left; margin-right:10px; margin-top:5px;width:65px; height:60px; overflow:hidden;}
.hot-list ul li i { position:absolute; top:0; left:0; color:#989898; font-weight:bold; width:22px; padding-right:8px; text-align:center; height:22px; line-height:22px; font-size:20px; font-family:Verdana, Geneva, sans-serif; }
.hot-list ul li .detail { float:left; width:150px;}
.hot-list ul li .detail p { width:100%;}
.hot-list ul li p.price { width:100%;overflow:hidden; margin-top:5px; }
.hot-list ul li p.price span {font-size:22px;font-weight:700;font-family:Arial, Helvetica, sans-serif;color:#cb0000;}
.hot-list ul li p.price em { line-height:18px; color:#bbbbbb; text-decoration:line-through;}
.hot-list ul li p.name { width:100%;height:36px; line-height:16px; overflow: hidden;word-break:break-all;}
