.m-choose-product{
    background-color: #fff;
    min-height: 6rem;
    height: auto;
    border-radius: 0.41666rem;
    border-bottom: 0.2rem solid #d0d0d0;
}
.m-shopping-cart{
    margin-bottom: 6rem;
}
.m-shopping-cart ul li{border-bottom: 0.1rem solid #d0d0d0;
    padding: 1rem;
}
.m-shopping-cart ul li:last-child{border-bottom: none}
.m-choose-image{
    display: inline-block;
    float: left;
}
.m-choose-image img{
    height: 6rem;
    width: 6rem;
    display: inline-block;
}
.m-choose-detail{
    height: 6rem;
    width: 19rem;
    padding-left: 1rem;
    float: left;
}
.m-choose-title{
    color: #565656;
    margin-top: 1.5rem;
}
.m-choose-brief-detail{
    font-size: 1rem;
    color: #858688;
}
.icon-angle-right-appearance{
    height: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    float: right;
    color: #e4e4e4;
}
.m-shopping-checkout{
    height: 5rem;
    background-color: #f4f4f4;
    box-shadow: 0px -2px 8px #d0d0d0;
    position: fixed;
    bottom: 0;
    line-height: 5rem;
    width: 100%;
}
.m-check-total-money{
    display: inline-block;
    color: #565656;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 1rem;
}
.m-check-total-money >span{
    color: #f66900;
}
.m-button-check{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.m-modify-text{
    padding:1rem
}
.m-modify-price{
    color: #f66900;
}
.m-modify-name{
    font-size: 1.4rem;
    color: #565656;
    font-weight: bold;
}
.m-modify-detail{
    font-size: 1rem;
    color: #858688;
}
.select-appearance{
    width: 100%;
    height: 3rem;
    border: none;
    background: #f8f8f8;
    border-radius: 0.416666rem;
}
.m-order-unpay{
    color: red;
    margin-left: 1rem;
}
.m-order-payed{
    color: #00a74b;
    margin-left: 1rem;
}
