.m-center-banner{
    background: url("../image/1-2.jpg") center no-repeat;
    height: 17rem;
    margin-top:1rem;
    background-size: 100%;
}
.m-center-partOne ul li{
    display: inline-block;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    position: relative;
    border-bottom: 0.1rem solid #d0d0d0;
}
.m-center-partOne ul li>div:last-child{
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    font-size: 2rem;
    color: #e4e4e4;
}

.m-center-partOne ul li>div:first-child{
    margin-left: 1rem;
    display: inline-block;
    width: 1.5rem;
}
.m-center-partOne ul {
    color: #565656;
    background-color: #fff;
    border-radius: 0.416666rem;
    border-bottom: 0.1rem solid #d0d0d0;

}
.m-center-login-button{
    font-size: 2rem;
    color: #f66900;
    margin-left: 60%;
    padding-top: 18%;
    font-weight: bold;
}