/*颜色*/
/*尺寸*/
.navgation {
  display: -webkit-box;
  display: -moz-box;
  background-color: #ffffff;
  margin-top: -0.1rem;
}
.navgation li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  border-left: 0.1rem solid #ebebeb;
  border-bottom: 0.1rem solid #ebebeb;
  border-top: 0.1rem solid #ebebeb;
  font-size: 1.6rem;
}
.navgation li:first-child {
  border-left: none;
}
.left-and-right .left {
  width: 50%;
  float: left;
  height: 12rem;
  overflow: hidden;
  position: relative;
  background-size: cover;
}
.left-and-right .left img {
  width: 100%;
}
.left-and-right .right {
  width: 50%;
  float: left;
  overflow: hidden;
  position: relative;
  height: 12rem;
}
.left-and-right .right img {
  width: 100%;
}
.left-and-right .right .right-one {
  height: 12rem;
  background-size: cover;
  position: relative;
}
.left-and-right .right .right-one img {
  height: 100%;
}
.left-and-right .right .right-two {
  height: 12rem;
  background-size: cover;
  position: relative;
}
.left-and-right .right .right-two img {
  height: 100%;
}
.product-slide {
  position: absolute;
  text-align: left;
  left: 1rem;
  top: 2rem;
}
.product-slide .title {
  font-size: 2rem;
}
.product-slide .detail {
  font-size: 1.4rem;
}
.content-model {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: #ffffff;
}
.content-model .title {
  font-size: 1.6rem;
}
.content-model .detail {
  font-size: 1rem;
}
.big-content {
  margin-top: 1rem;
  height: 24rem;
  position: relative;
}
.product-content {
  height: 24rem;
  position: relative;
}
.middle {
  display: table;
  vertical-align: middle;
  margin: 0 auto;
  width: auto;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.middle .category {
  font-size: 1.6rem;
  border-bottom: 0.2rem solid #ffffff;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.middle .title {
  font-size: 2rem;
}
.middle .data {
  font-size: 1rem;
}
.app-guo {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  color: #ffffff;
}
.app-guo .category {
  font-size: 1.6rem;
}
.app-guo .title {
  font-size: 2rem;
}
/*news*/
.news-banner {
  color: #ffffff;
  position: absolute;
  left: 1rem;
  bottom: 3rem;
}
.news-banner .title {
  font-size: 2rem;
}
.news-banner .data {
  font-size: 1rem;
}
.news-lists li {
  width: 50%;
  float: left;
}
.news-block {
  width: 90%;
  background-color: #ffffff;
  margin: 0 auto 1rem auto;
  border-bottom: 0.2rem solid #cccccc;
}
.news-block .title {
  font-size: 1.6rem;
  padding: 1rem;
}
.news-block img {
  width: 100%;
}
.news-block .detail {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0 1rem 1rem 1rem;
}
.news-block .label .data {
  padding-left: 1rem;
  padding-bottom: 1rem;
  float: left;
  color: #cccccc;
  font-size: 1rem;
}
.news-block .label .company {
  padding-right: 1rem;
  padding-bottom: 1rem;
  float: right;
  color: #cccccc;
  font-size: 1rem;
}
