@import "variables.less";

.navgation{
  display: -webkit-box;
  display: -moz-box;
  background-color: @white;
  margin-top: -0.1rem;
  li{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-left: 0.1rem solid @ebebeb;
    border-bottom: 0.1rem solid @ebebeb;
    border-top: 0.1rem solid @ebebeb;
    font-size: 1.6rem;
    &:first-child{
      border-left: none;
    }
  }
}
.left-and-right{
  .left{
    width: 50%;
    float: left;
    height: 12rem;
    overflow: hidden;
    position: relative;
    background-size: cover;
    img{
      width: 100%;
    }
  }
  .right{
    width: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    height: 12rem;
    img{
      width: 100%;
    }
    .right-one{
      height: 12rem;
      background-size: cover;
      position: relative;
      img{
        height: 100%;
      }
    }
    .right-two{
      height: 12rem;
      background-size: cover;
      position: relative;
      img{
        height: 100%;
      }
    }
  }
}
.product-slide{
  position: absolute;
  text-align: left;
  left: 1rem;
  top: 2rem;
  .title{
    font-size: 2rem;
  }
  .detail{
    font-size: 1.4rem;
  }
}
.content-model{
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: @white;
  .title{
    font-size: 1.6rem;
  }
  .detail{
    font-size: 1rem;
  }
}
.big-content{
  margin-top: 1rem;
  height: 24rem;
  position: relative;
}
.product-content{
  height: 24rem;
  position: relative;
}
.middle{
  display: table;
  vertical-align: middle;
  margin: 0 auto;
  width: auto;
  text-align: center;
  color: @white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .category{
    font-size: 1.6rem;
    border-bottom: 0.2rem solid @white;
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  .title{
    font-size: 2rem;
  }
  .data{
    font-size: 1rem;
  }
}

.app-guo{
  position: absolute;
  bottom:3rem;
  left: 1rem;
  color: @white;
  .category{
    font-size: 1.6rem;
  }
  .title{
    font-size: 2rem;
  }
}

/*news*/
.news-banner{
  color: @white;
  position: absolute;
  left: 1rem;
  bottom: 3rem;
  .title{
    font-size: 2rem;
  }
  .data{
    font-size: 1rem;
  }
}
.news-lists{
  li{
    width: 50%;
    float: left;
  }
}
.news-block{
  width: 90%;
  background-color: @white;
  margin: 0 auto 1rem auto;
  border-bottom: 0.2rem solid @cccGrey;
  .news-list-img{
    background-size: cover;
    height: 15rem;
  }
  .title{
    font-size: 1.6rem;
    margin: 1rem;
    height: 3.8rem;
    overflow: hidden;
  }
  img{
    width: 100%;
  }
  .detail{
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0 1rem 1rem 1rem;
    height: 6rem;
    overflow: hidden;
  }
  .label{
    .data{
      padding-left: 1rem;
      padding-bottom: 1rem;
      float: left;
      color: @cccGrey;
      font-size: 1rem;
    }
    .company{
      padding-right: 1rem;
      padding-bottom: 1rem;
      float: right;
      color: @cccGrey;
      font-size: 1rem;
    }
  }
}
.news-detail{
  .data{
    font-size: 1.2rem;
  }
  .title{
    font-size: 2rem;
    margin: 1rem auto 1rem auto;
  }
  .news-content{
    p{
      line-height: 2rem!important;
      text-indent: 2em!important;
      background-color: @bgColor!important;
    }
    img{
      margin: 1.5rem auto 1rem auto;
      display: block;
      width: 100%;
    }
    .img-detail{
      text-align: center;
      font-size: 1rem;
      color: @fontGrey;
    }
  }
}

//404页面找不到
.cant-find{
  background-color: #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  .block{
    position: absolute;
    width: 30rem;
    height: 6rem;
    bottom: 28rem;
    border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
    background-color: @white;
    img{
      width: 100%;
      vertical-align: middle;
      margin-bottom: 0.8rem;
    }
  }
  .title{
    color: @white;
    font-size: 3rem;
    margin-left: 3rem;
    margin-top: 7rem;
    position: absolute;
    bottom: 35rem;
  }
  img{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}