.my-cart h1{
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.my-cart{
    position: relative;
    margin-left: 139px;
}
.my-cart ul{
    width: 100%;
    margin:0;
    padding:0;
}
.my-cart ul li{
    float: left;
    text-align: center;
}
.table-name{
    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    border-top:1px solid #ccc;
}
.table-name li{
}
.table-content{
    border-bottom: 1px solid #ccc;
    height: 190px;
}
.table-content li>a.pic img{
     width: 150px;
     height: 150px;
 }
.table-content li>a.name{
    font-size: 20px;
    width: 50%;
    font-weight: 200;
    margin-left: 20px;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}
.table-content li>a span{
    line-height: 15px;
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}
.table-content li{
    padding: 20px 0 20px 0;
}
.cart-number-oprate{
    width: 140px;
    margin: 0 auto;
    margin-top: 60px;
    *+margin-top:80px;
    height: 30px;
    border: 1px solid #ccc;
}
.cart-number-oprate>div{
    float: left;
}
.number-minus{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-right: 1px solid #ccc;
    background-color: #f8f8f8;
}
.number-plus{
    width: 30px;
    height: 30px;
    text-align: center;
    float: right!important;
    line-height: 30px;
    border-left: 1px solid #ccc;
    background-color: #f8f8f8;
}
.number-middle{
    line-height: 30px;
    width: 78px;
}
.cart-total>div{
    float: left;
}
.cart-total-one{
    font-size: 16px;
    margin-top: 12px;
}
.cart-total-two{
    font-size: 28px;
    color:#ff9900
}
.cart-empty{
    width: 600px;
    margin: 84px auto 100px auto;
}
.cart-empty-left{
    float: left;
    width: 380px;
}
.cart-empty-left h1{
    font-weight: 500;
}
.cart-empty-right{
    background: url("../../global/images/cart.png") center top no-repeat;
    width: 218px;
    height: 247px;
    float: left;
}
/*address*/
.selected{
    border:1px solid #c33829!important;
}
.address-list{
    margin-top:10px;
    margin-bottom:20px;
    padding-top: 10px;

}
.address-square{
    width: 295px;
    height: 125px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding:10px;
    margin-left: 15px;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}
.address-user-name{
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.product-display{
    border-bottom: 1px solid #ccc;
}
.product-display li>a img{
    width: 70px;
    height: 70px;
}
.product-display li>a.name{
    font-size: 20px;
    margin-left: 5px;
}
.product-display li{
    padding-top:20px;
    padding-bottom:20px;
}
.address-input-area {
    margin-left: 15px;
}
label.address-label {
    color: grey;
    width: 85px;
    display: inline-block;
    font-size: 12px;
}
.mt20{
    margin-top:20px;
}
.address-input {
    line-height: 20px;
    width: 315px;
    border: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding: 7px 5px;
}
.area-input {
    width: 315px;
    padding: 5px;
    border: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    vertical-align: middle;
    font-size: 13px;
}
.simuselect {
    position: relative;
    background-color: #f9f9f9;
    min-width: 97px;
    width: auto;
    padding: 7px 5px;
    border: 1px solid #e3e5e6;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
h2.order-title {
    font-size: 18px;
    color: #000;
    padding: 10px 0 27px 15px;
    border-bottom: #e6e6e6 1px solid;
    font-family: "microsoft yahei";
    font-weight: normal;
}
.error_msg {
    color: red;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    font-size: 12px;
}
.edit-icon{
    float: right;
    *+margin-top: -22px;
}
.edit-icon a i {
    width: 20px;
    display: inline-block;
}
.required_mark {
    color: #F00;
    padding: 0 5px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
}
.pay-detail{
    height: 160px;
    background-color: #f8f8f8;
    margin-top: 20px;
    font-size: 14px;
}
.pay-detail-two{
    height: 200px;
    background-color: #f8f8f8;
    margin-top: 20px;
    font-size: 14px;
}
.order-number{
    width: 300px;
    margin-left: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #ccc;
}
.order-money{
    margin-left: 15px;
    padding-top: 15px;
}
.order-money p{
    margin:0;
}
.pay-method{
    border: 1px solid #f8f8f8;
    height: 100px;
    margin-top: 20px;
}
.pay-method-detail{
    height: 100px;
    background-color: #f8f8f8;
    width: 200px;
    float: left;
}
.pay-method-detail p{
    font-size: 12px;
    padding-left: 30px;
    padding-top:10px;
    padding-right: 20px;
}
.pay-method-detail p span{
    font-size: 14px;
}
.pay-methos-aliy{
    margin-top: 25px;
    float: left;
    margin-left: 30px;
}
.shopcartstep {
    height: 24px;
    padding: 30px 0 25px;
}
.shopcartstep li {
    list-style: none;
    float: left;
    color: #cdcdcd;
    font-size: 14px;
    margin-right: 30px;
    line-height: 24px;
}
.shopcartstep li.complete {
    color: #000;
}
.shopcartstep li.complete span {
    background: #c33829;
}
.shopcartstep li span {
    display: inline-block;
    width: 24px;
    line-height: 24px;
    height: 24px;
    background: #d1d1d2;
    color: #fff;
    text-align: center;
    margin-right: 10px;
}
.find-process{
    width: 470px;
    *+width: 510px;
    margin: 50px auto 30px auto;
}
.contact-bottom{
    margin-top:20px;
}
.contact-bottom ul li{
    float: none;
    text-align: left;
}
.contact-bottom ul li:first-child{
    font-size: 18px;
}
.contact-bottom ul{
    width: 33%;
    float: left;
    margin-bottom:50px;
}
.person-order-ul{
    border: 1px solid #f8f8f8;
    width: 293px!important;
    padding: 12px!important;
    margin-right: 20px!important;
}
.cart-content {
    width: 820px;
    margin: 0 auto;
    margin-top: 130px;
}
.un-success {
    margin: 40px auto 40px auto;
    text-align: center;
}

/*顶级酒品*/
.s-title {
    text-align: center;
    padding-top: 55px;
}
.s-wenzhang {
    width: 792px;
    margin: 0 auto;
    font-size: 14px;
}
.s-wenzhang p {
    text-indent: 2em;
    line-height: 28px;
}
.four-div {
    width: 742px;
    margin: 0 auto;
}
.four-div>div {
    color: #b28850;
    font-size: 14px;
    margin-left: 97px;
    margin-bottom: 5px;
    margin-top: 50px;
    font-weight: bold;
}
.story-four-img {
    width: 900px;
    margin: 0 auto;
}
.text-detail {
    color: #808080;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.bg-cover{
    width: 100%;
    height: 100%;
    display: block;
    z-index: 8000;
    background-color: rgba(255,255,255,0.5);
    position: fixed;
}
.nav-top-bottom {
    position: fixed;
    right: 30px;
    color: #fff;
    z-index: 999;
    bottom: 70px;
}
.icon-chevron-up {
    background: url("../../images/angle-up.png") center no-repeat;
    color: #fff;
    background-size: 25px 25px;
}
.displaybl {
    display: block!important;
}
.nav-button-style {
    height: 50px!important;
    text-align: center;
    line-height: 50px!important;
    width: 50px!important;
}
.icon-chevron-down {
    background: url("../../images/angle-down.png") center no-repeat;
    color: #fff;
    background-size: 25px 25px;
}
.good-information1{
    background: url("../../zhongguodao/images/6_01.jpg") no-repeat bottom #000;
    height: 975px;
    position: relative;
    width: 100%;
}
.good-information2{
    background: url("../../zhongguodao/images/6_02.jpg") no-repeat center #000;
    height: 1354px;
    position: relative;
    width: 100%;
}
.good-information3{
    background: url("../../zhongguodao/images/6_03.jpg") no-repeat center #000;
    height: 1068px;
    position: relative;
    width: 100%;
}
.good-information4{
    background: url("../../zhongguodao/images/6_04.jpg") no-repeat center #000;
    height: 793px;
    position: relative;
    width: 100%;
}
.good-information5{
     background: url("../../zhongguodao/images/6_05.jpg") no-repeat center #000;
     height: 1234px;
     position: relative;
     width: 100%;
 }
.good-information6{
    background: url("../../zhongguodao/images/6_06.jpg") no-repeat center #000;
    height: 907px;
    position: relative;
    width: 100%;
}
.good-information7{
    background: url("../../zhongguodao/images/6_07.jpg") no-repeat center #000;
    height: 1263px;
    position: relative;
    width: 100%;
}
/*.good-information8{
    background: url("../../zhongguodao/images/6_08.jpg") no-repeat center #000;
    height: 1197px;
    position: relative;
    width: 100%;
}*/
.good-information9{
    background: url("../../zhongguodao/images/6_09.jpg") no-repeat center #000;
    height: 1042px;
    position: relative;
    width: 100%;
}
.good-information1-png{
    width: 540px;
    margin: 0 auto;
}
.watch-tv {
    position: absolute;
    top: 590px;
    width: 400px;
    left: 50%;
    text-align: center;
    font-size: 16px;
    margin-left: -200px;
}
.good-information2-content{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.good-information2-content p{
    font-size: 16px;
    line-height: 30px;
}
.good-information2-content-imgOne{
    width: 199px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_01.jpg") center top no-repeat;
    float: left;
}
.good-information2-content-imgOneHover{
    width: 199px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_01_01.jpg") center top no-repeat;
    float: left;
}
.good-information2-content-imgTwo{
    width: 197px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_02.jpg") center top no-repeat;
    float: left;
}
.good-information2-content-imgTwoHover{
    width: 197px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_02_02.jpg") center top no-repeat;
    float: left;
}
.good-information2-content-imgThree{
    width: 197px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_03.jpg") center top no-repeat;
    float: left;
}
.good-information2-content-imgThreeHover{
    width: 197px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_03_03.jpg") center top no-repeat;
    float: left;
}
.good-information2-content-imgFour{
    width: 199px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_04.jpg") center top no-repeat;
    float: left;
}
.good-information2-content-imgFourHover{
    width: 199px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_04_04.jpg") center top no-repeat;
    float: left;
}
.good-information2-content-imgFive{
    width: 199px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_05.jpg") center top no-repeat;
    float: left;
}
.good-information2-content-imgFiveHover{
    width: 199px;
    height: 261px;
    cursor: pointer;
    background: url("../../zhongguodao/images/7_05_05.jpg") center top no-repeat;
    float: left;
}
.good-information3-content{
    width: 960px;
    margin: 0 auto;
}
.good-information3-content p{
    width: 500px;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 50px;
}
.good-information3-content a{
    color: #b63333;
}
.good-information3-content a:hover{
    text-decoration: underline;
}
#zhongguodao-billboard {
    background-color: #333;
    width: 100%;
    margin: 0 auto;
    height: 1197px;
    position: relative;
}
.zhongguodao-banner-1 {
    background: url("../../zhongguodao/images/6_08.jpg") center top no-repeat;
    width: 1920px;
    height: 1197px;
    position: relative;
    cursor: pointer;
}
.zhongguodao-banner-2{
    background: url("../../zhongguodao/images/6_08_02.jpg") center top no-repeat;
    width: 1920px;
    height: 1197px;
    position: relative;
    cursor: pointer;
}
.zhongguodao-banner-3{
    background: url("../../zhongguodao/images/6_08_03.jpg") center top no-repeat;
    width: 1920px;
    height: 1197px;
    position: relative;
    cursor: pointer;
}
.zhongguodao-left-angle {
    color: #ccc;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    float: left;
    cursor: pointer;
}
.zhongguodao-right-angle {
    color: #ccc;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    float: right;
    cursor: pointer;
}
.zhongguodao-left-right{
    width: 1280px; position:absolute; margin: 0 auto; top: 50%;
    margin-top: -25px;
    left: 0;
    right: 0;
}
.zhongguodao-banner-1-title{
    width: 730px; margin: 0 auto; padding-top: 532px;
}
.zhongguodao-banner-2-title{
    width: 730px; margin: 0 auto; font-size: 24px; color: #fff; padding-top: 706px;
    padding-left: 661px;
}
.join-model{
    width: 245px;
    height: 190px;
    background-color: #f8f8f8;
    float: left;
    cursor: pointer;
    position: relative;
}
.join-model-two{
    width: 245px;
    height: 190px;
    background-color: #f8f8f8;
    margin-left: 10px;
    float: left;
    cursor: pointer;
    position: relative;
}
.join-model-bottom{
    position: absolute;
    left: 0;
    bottom:0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
.join-model-bottom>span{
    margin-left: 10px;
    color: #fff;
    font-size: 14px;
}
.join-bottom ul li{
    display: block;
    float: none;
    text-align: left;
}
.join-bottom ul li:first-child{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}
.tabb-five-bg-1{
    background: url("../../zhongguodao/images/yishu_01.jpg") center top no-repeat;
    width: 100%;
    height: 906px;
    margin: 0 auto;
}
.tabb-five-bg-2{
    background: url("../../zhongguodao/images/yishu_02.jpg") center top no-repeat;
    width: 100%;
    height: 2485px;
    margin: 0 auto;
}
.tabb-five-bg-3{
    background: url("../../zhongguodao/images/yishu_03.jpg") center top no-repeat;
    width: 100%;
    height: 1219px;
    margin: 0 auto;
}
.tabb-five-bg-4{
    background: url("../../zhongguodao/images/yishu_04.jpg") center top no-repeat;
    width: 100%;
    height: 1024px;
    margin: 0 auto;
}
.tabb-seven-bg-1{
    background: url("../../zhongguodao/images/caikai_01.jpg") center top no-repeat;
    width: 1148px;
    height: 1170px;
    margin: 0 auto;
}

.tabb-seven-bg-2{
    background: url("../../zhongguodao/images/caikai_02.jpg") center top no-repeat;
    width: 1148px;
    height: 676px;
    margin: 0 auto;
}
.tabb-seven-bg-3{
    background: url("../../zhongguodao/images/caikai_03.jpg") center top no-repeat;
    width: 1148px;
    height: 783px;
    margin: 0 auto;
    margin-top: 20px;
}
.tabb-seven-bg-4{
    background: url("../../zhongguodao/images/caikai_04.jpg") center top no-repeat;
    width: 1148px;
    height: 783px;
    margin: 0 auto;
    margin-top: 20px;
}
.tabb-six-bg-1{
    background: url("../../zhongguodao/images/shoucan_01.jpg") center top no-repeat;
    width: 100%;
    height: 1954px;
    margin: 0 auto;
}
.tabb-six-bg-2{
    background: url("../../zhongguodao/images/shoucan_02.jpg") center top no-repeat;
    width: 100%;
    height: 1065px;
    margin: 0 auto;
}
.tabb-six-bg-3{
    background: url("../../zhongguodao/images/shoucan_04.jpg") center top no-repeat;
    width: 100%;
    height: 1065px;
    margin: 0 auto;
}
.tabb-six-bg-4{
    background: url("../../zhongguodao/images/shoucan_05.jpg") center top no-repeat;
    width: 100%;
    height: 1055px;
    margin: 0 auto;
}
.tabb-six-bg-5{
    background: url("../../zhongguodao/images/shoucan_06.jpg") center top no-repeat;
    width: 100%;
    height: 1059px;
    margin: 0 auto;
}
.tabb-six-bg-6{
    background: url("../../zhongguodao/images/shoucan_07.jpg") center top no-repeat;
    width: 100%;
    height: 1066px;
    margin: 0 auto;
}
.tabb-two-bg-1{
    background: url("../../zhongguodao/images/jiuti_01.jpg") center top no-repeat;
    width: 100%;
    height: 1061px;
    margin: 0 auto;
}
.tabb-two-bg-2{
    background: url("../../zhongguodao/images/jiuti_02.jpg") center top no-repeat;
    width: 100%;
    height: 783px;
    margin: 0 auto;
}
.tabb-two-bg-3{
    background: url("../../zhongguodao/images/jiuti_03.jpg") center top no-repeat;
    width: 100%;
    height: 1042px;
    margin: 0 auto;
}
.tabb-two-bg-4{
    background: url("../../zhongguodao/images/jiuti_04.jpg") center top no-repeat;
    width: 100%;
    height: 983px;
    margin: 0 auto;
}
.tabb-two-bg-5{
    background: url("../../zhongguodao/images/jiuti_05.jpg") center top no-repeat;
    width: 100%;
    height: 1064px;
    margin: 0 auto;
}
.tabb-two-bg-6{
    background: url("../../zhongguodao/images/jiuti_06.jpg") center top no-repeat;
    width: 100%;
    height: 981px;
    margin: 0 auto;
}
.tabb-two-bg-7{
    background: url("../../zhongguodao/images/jiuti_07.jpg") center top no-repeat;
    width: 100%;
    height: 1011px;
    margin: 0 auto;
}
.tabb-two-bg-8{
    background: url("../../zhongguodao/images/jiuti_08.jpg") center top no-repeat;
    width: 100%;
    height: 1060px;
    margin: 0 auto;
}
.tabb-two-bg-9{
    background: url("../../zhongguodao/images/jiuti_09.jpg") center top no-repeat;
    width: 100%;
    height: 1065px;
    margin: 0 auto;
}
.tabb-three-bg-1{
    background: url("../../zhongguodao/images/sheji_01.jpg") center top no-repeat;
    width: 100%;
    height: 793px;
    margin: 0 auto;
}
.tabb-three-bg-2{
    background: url("../../zhongguodao/images/sheji_02.jpg") center top no-repeat;
    width: 100%;
    height: 982px;
    margin: 0 auto;
}
.tabb-three-bg-3{
    background: url("../../zhongguodao/images/sheji_03.jpg") center top no-repeat;
    width: 100%;
    height: 1024px;
    margin: 0 auto;
}
.tabb-three-bg-4{
    background: url("../../zhongguodao/images/sheji_04.jpg") center top no-repeat;
    width: 100%;
    height: 1138px;
    margin: 0 auto;
}
.tabb-three-bg-5{
    background: url("../../zhongguodao/images/sheji_05.jpg") center top no-repeat;
    width: 100%;
    height: 780px;
    margin: 0 auto;
}
.tabb-three-bg-6{
    background: url("../../zhongguodao/images/sheji_06.jpg") center top no-repeat;
    width: 100%;
    height: 803px;
    margin: 0 auto;
}
.tabb-three-bg-7{
    background: url("../../zhongguodao/images/sheji_07.jpg") center top no-repeat;
    width: 100%;
    height: 880px;
    margin: 0 auto;
}
.tabb-four-bg-1{
    background: url("../../zhongguodao/images/wenhua_01.jpg") center top no-repeat;
    width: 100%;
    height: 1006px;
    margin: 0 auto;
}
.tabb-four-bg-2{
    background: url("../../zhongguodao/images/wenhua_02.jpg") center top no-repeat;
    width: 100%;
    height: 941px;
    margin: 0 auto;
}
.tabb-four-bg-3{
    background: url("../../zhongguodao/images/wenhua_03.jpg") center top no-repeat;
    width: 100%;
    height: 911px;
    margin: 0 auto;
}
.tabb-four-bg-4{
    background: url("../../zhongguodao/images/wenhua_04.jpg") center top no-repeat;
    width: 100%;
    height: 845px;
    margin: 0 auto;
}
.mlgbd{
    margin-left: 513px;
}
.left-nav-two {
    width: 109px;
    top: 51px;
    position: absolute;
    left: 0;
}
.left-nav-two ul {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.left-nav-two ul li{
    text-align: center;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-left: 20px;
    margin-right: 20px;
}
.bottom-nav{
    margin-left: 675px;
    height: 45px;
    line-height: 45px;
    width: 361px;
    float: left;
}
.bottom-nav li{
    float: left;
    margin-right: 22px;
}

@media (max-width: 1260px) {
    .mlgbd{
        margin-left: 410px;
    }
    .bottom-nav{
        margin-left: 476px;
        height: 45px;
        line-height: 45px;
        width: 361px;
        float: left;
    }
    .nimalegebide{
        margin-left: 0;
        margin-top: 10px;
        margin-right: 10px;
    }
    .cha{
        margin-left: 0;
    }
    #zhongguodao-billboard {
        background-color: #333;
        width: 100%;
        margin: 0 auto;
        height: 798px;
        position: relative;
    }
    .zhongguodao-banner-1 {
        background: url("../../zhongguodao/images/made_01.jpg") center top no-repeat;
        width: 1280px;
        height: 798px;
        position: relative;
        cursor: pointer;
    }
    .zhongguodao-banner-2{
        background: url("../../zhongguodao/images/made_02.jpg") center top no-repeat;
        width: 1280px;
        height: 798px;
        position: relative;
        cursor: pointer;
    }
    .zhongguodao-banner-3{
        background: url("../../zhongguodao/images/made_03.jpg") center top no-repeat;
        width: 1280px;
        height: 798px;
        position: relative;
        cursor: pointer;
    }
    .zhongguodao-left-right{
        width: 960px; position:absolute; margin: 0 auto; top: 50%;
        margin-top: -25px;
        left: 0;
        right: 0;
    }
    .zhongguodao-banner-1-title{
        width: 730px; margin: 0 auto; padding-top: 340px;margin-left: 119px;
    }
    .zhongguodao-banner-2-title{
        width: 730px; margin: 0 auto; font-size: 24px; color: #fff; padding-top: 506px;
        padding-left: 255px;
    }
}