.part-one-banner{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: padding-bottom .1s;
    -moz-transition: padding-bottom .1s;
    -ms-transition: padding-bottom .1s;
    -o-transition: padding-bottom .1s;
    transition: padding-bottom .1s;
    height: 200px;
    background: url("../images/index-focus-img.jpg") no-repeat center #000;
    background-size: cover;
    z-index: 2;
    background-position: center;
    -webkit-moz-background-size: cover;
    -moz-moz-background-size: cover;
    -ms-moz-background-size: cover;
    -o-moz-background-size: cover;
    moz-background-size: cover;
}
.part-one{
    width: 80%;
    margin:0 auto;
    margin-bottom: 2rem;
    max-width: 45rem;
}
.part-one-title{
    font-size: 2.6rem;
    font-family: "宋体";
    font-weight: bold;
    padding: 1rem;
    color: #333;
    width: 80%;
    max-width: 45rem;
    margin: 0 auto;
}
.part-one-content{
    font-size: 1.6rem;
    line-height: 2rem;
    color: #333;
    width: 80%;
    max-width: 45rem;
    margin: 0 auto;
}
.part-one-content .title{
    font-size: 1.8rem;
    margin-top: 1.6rem;
    margin-bottom: 0.4rem;
    font-weight: bold;
}
.part-one-content ul li {
    text-indent: 2em;
}
.part-one-content span{
    text-indent: 2em;
}
.app-title-banner{
    height: 7.8rem;
    padding-top: 4rem;
    color: #fff;
}
.title-number{
    font-size: 1rem;
    width: 80%;
    margin:0 auto;
    max-width: 32rem;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}
.item-title{
    font-size: 1.8rem;
    color: #000;
    width: 70%;
}
.item-choose-img{
    display: inline-block;
    margin: 0.2rem;
    margin-top: 1.4rem;
}
.item-choose-img img{
    border: 0.2rem solid #fff;
}
.item-choose{
    font-size: 1.4rem;
    height: 2rem;
    color: #565656;
    line-height: 2rem;
    margin-top: 1rem;
    padding: 0.8rem;
    border-bottom: 1px solid #9c9c9c;
}
.five-banner{
    text-align: center;
    margin-top: 1rem;
}
.app-logo{
    position: absolute;
    right: 0;
    top: 25px;
}
.item-choose:active{
    background-color: #b28850;
    color: #fff;
}
.item-choose .active{
    background-color: #b28850;
    color: #fff;
}
.result-one-title{
    text-align: center;
    display: none;
}
.part-one-content h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #8c6d44;
    font-weight: bold;
}
.result-percent{
    text-align: center;
}
.result-percent-number{
    font-size: 13rem;
}

/*微信分享*/
#weixin-guide{
    width: 100%;
    height: 100%;
    background-image: url("../images/guide.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 9999;
}
#mobile-guide{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../images/mobile-guide.png");
    background-size: 26.5rem 26.5rem;
    background-repeat: no-repeat;
    background-position:bottom ;
    z-index: 9999;
}
.share-cover{
    position: fixed;
    display: none;
    z-index: 99;
    background: rgba(0,0,0,0.7) ;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.today-hot-one{
    background-color: #f4f4f4;
    margin-top: 3rem;
    padding:0.4rem;
}
.today-hot-one ul li {
    line-height: 2.5rem;
    background: url("../images/tag.jpg") left no-repeat;
    margin: 1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    text-align: left;
    border: 1px dashed #d0d0d0;
    padding: 0.4rem;
    padding-left: 4.6rem;
}
.today-hot-one ul li img{
    vertical-align: middle;
    margin-right:0.6rem;
}
.today-hot{
    background-color: #f4f4f4;
    margin-top: 3rem;
    padding:0.4rem;
}
.today-hot ul li {
    line-height: 3rem;
    margin: 1rem;
    text-align: center;
}
.today-hot ul li img{
    vertical-align: middle;
    margin-right:0.6rem;
}
.loading-div{
    height: 100%;
    background: url("../images/bg.jpg") center top no-repeat;
    background-size: cover;
    width: 100%;
}
.part-two{
    background: url("../images/bg.jpg") center top no-repeat;
    background-size: cover;
    height: 100%;
}
.index-bg{
    background: url("../images/bg.jpg") center top no-repeat;
    background-size: cover;
    height: 100%;
}
body{
    background: url("../images/bg.jpg") center top no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment:fixed;
    margin-bottom:0;
}
.enter-app-button{
    margin-top:4rem;
}

@media (min-width: 768px) {
    .part-one-title {
        font-size: 3rem;
        font-family: "宋体";
        font-weight: bold;
        padding: 1rem;
        color: #333;
        width: 80%;
        max-width: 45rem;
        margin: 0 auto;
    }
    .item-title {
        font-size: 2.4rem;
        color: #000;
    }
    .item-choose {
        font-size: 1.8rem;
        height: 2rem;
        color: #565656;
        line-height: 2rem;
        margin-top: 1rem;
        padding: 0.8rem;
        border-bottom: 1px solid #9c9c9c;
    }
    .part-one-content {
        font-size: 1.8rem;
        color: #333;
        width: 80%;
        max-width: 45rem;
        line-height: 2.4rem;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .part-one-content {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #333;
        width: 80%;
        max-width: 45rem;
        margin: 0 auto;
    }
}

